--- 
layout: default
permalink: /tickets/ 
url_slug: tickets
---
{% assign pageContent = site.data.conference.pages | where:"url_slug", page.url_slug %} 
{% assign pageContent = pageContent[0] %}

{% assign today_date = 'now' | date: '%s' %}  
{% assign two_for_one = 'May 3, 2018' | date: '%s' %} 
{% assign super_early = 'June 28, 2018' | date: '%s' %} 
{% assign early = 'August 2, 2018' | date: '%s' %} 
{% assign regular = 'October 5, 2018' | date: '%s' %}

<div class="container section {{pageContent.codename}}">

  <h1>{{ pageContent.title }}</h1>

  {% for section in pageContent.sections %}
    {% include section.html section=section %}
  {% endfor %}

  <div class="d-flex justify-content-around flex-wrap tickets section">
    <div class="tickets-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col"></th> -->
            {% if today_date < two_for_one %}
              <th scope="col" colspan="2">
                2 for 1
                <small>Until 1<sup>st</sup> May 2018</small>
              </th>
            {% endif %} {% if today_date >= two_for_one and today_date < super_early %}
              <th scope="col">
                Super Early<br>
                <small>Until 26<sup>th</sup> June 2018</small>
              </th>
            {% endif %} {% if today_date >= super_early and today_date < early %}
              <th scope="col">
                Early<br>
                <small>Until 31<sup>st</sup> July 2018</small>
              </th>
            {% endif %} {% if today_date >= early %}
              <th scope="col">Regular<br>
                <small>Until 3<sup>rd</sup> October 2018</small></th>
              </tr>
            {% endif %}
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              All Inclusive<br>
              <small>3<sup>rd</sup> - 5<sup>th</sup> October 2018</small>
            </th>
            <td>€1,395</td> 
            {% if today_date >= two_for_one and today_date < super_early %}
            <td>€765 - €840</td>
            {% endif %} {% if today_date >= super_early and today_date < early %}
            <td>€925 - €1,080</td>
            {% endif %} {% if today_date >= early %}
            <td>€1,105 - €1,395</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">
              UXDX conference<br>
              <small>4<sup>th</sup> - 5<sup>th</sup> October 2018</small>
            </th>
            <td>€999</td>
            {% if today_date >= two_for_one and today_date < super_early %}
            <td>€550 - €605</td>
            {% endif %} {% if today_date >= super_early and today_date < early %}
            <td>€665 - €720</td>
            {% endif %} {% if today_date >= early %}
            <td>€795 - €999</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">
              Training<br>
              <small>3<sup>rd</sup> October 2018</small>
            </th>
            <td>€650</td>
            {% if today_date >= two_for_one and today_date < super_early %}
            <td>€350 - €385</td>
            {% endif %} {% if today_date >= super_early and today_date < early %}
            <td>€425 - €460</td>
            {% endif %} {% if today_date >= early %}
            <td>€505 - €650</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="details">
      <h2>Want free tickets?</h2>
      <p>
        Buy any 4 tickets and you get one free!<br>
        <small>Discounts automatically applied when you enter in the quantity of tickets</small>
      </p>
      <button class="btn btn-primary btn-lg">Register Now</button>
    </div>
  </div>
</div>

<!-- <tito-button event="ultimateconf/2013"></tito-button> -->