---
layout: default
url_slug: ux 
permalink: /ux/
---

{% assign pageContent = site.data.pages | where:"url_slug", page.url_slug %}
{% assign pageContent = pageContent[0] %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="
  background: url('{{pageContent.header_image.url}}') no-repeat center;
  background-size: cover;">
  <div class="container">
    <h1 class="display-5">Integrate UX into Development</h1>
  </div>
</div>

{% for section in pageContent.sections %}
  <!-- Conference Stats -->
  {% if section.codename == 'conference_stats_section' %} 
    {% include section.html section=section %} 
  {% endif %} 
{% endfor %}

{% for section in pageContent.sections %}
  <!-- UXDX Model -->
  {% if section.codename == 'ux_benefits_section' %}
    {% include section.html section=section %}
  {% endif %}
{% endfor %}

{% for section in pageContent.sections %}
  <!-- Agenda Link -->
  {% if section.codename == 'agenda_links___section' %} 
    {% include section.html section=section %} 
  {% endif %} 
{% endfor %}


<div class="container-fluid section highlighted_speakers">
  <div class="container">
    <h1>A Selection of our Past Speakers</h1>
    <div class="speaker-list d-flex justify-content-around flex-wrap">
      {% assign speakers = site.data.highlightedSpeakers | sort: 'order' %} 
      {% for speaker in speakers %}
        {% include speakerCard.html speaker=speaker %}
      {% endfor %}
    </div>
  </div>
</div>

{% for section in pageContent.sections %}
<!-- Testimonials -->
  {% if section.codename == 'testimonials_section' %} 
    {% include section.html section=section %} 
  {% endif %} 
{% endfor %}


<div class="container-fluid section highlighted_companies">
  <div class="container">
    <h1>Previous Attendees</h1>
    <div class="d-flex flex-wrap justify-content-around">
      {% assign companies = site.data.highlightedCompanies | sort: 'order' %} 
      {% for company in companies %}
        {% include companyLogo.html company=company%}
      {% endfor %}
    </div>
  </div>
</div>


<div class="container-fluid uxdx-highlights">
  <div class="d-flex">
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Hands.jpg" alt="Audience with hands raised"> </div>
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Speaker2.jpg" alt="UXDX Speaker"> </div>
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Laugh.jpg" alt="Laughing Audience"> </div>
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Training.jpg" alt="UXDX Training"> </div>
  </div>
  <div class="d-flex">
    <div class="image-flex double-width"> <img src="{{site.baseurl}}/images/highlights/Crowd.jpg" alt="UXDX Crowd"> </div>
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Speaker1.jpg" alt="UXDX Speaker"> </div>
    <div class="image-flex"> <img src="{{site.baseurl}}/images/highlights/Photo.jpg" alt="Audience taking photos"> </div>
  </div>
</div>

<div class="container-fluid section uxdx2017-videos">
  <div class="container">
    <h1>UXDX 2017</h1>
    <div id="ypt_wrapper">
      <div class="video">
        <div id="player" data-pl="PLrcV9QFxxPbCEXx4WVX8GQNQ0Ve5vbnHJ"></div>
      </div>
      <ul id="ypt_thumbs"></ul>
    </div>
  </div>
</div>

{% include video-script.html %}

{% include signup.html formId=1 name="newslettersignup" %}
