<!-- <table class="table table-striped tickets">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
        2 for 1<br>
        <small>Until 1st May 2018</small>
      </th>
      {% if today_date >= 2for1 %}
        <th scope="col">
          Super Early<br>
          <small>Until 26th June 2018</small>
        </th>
      {% endif %}
      {% if today_date >= super_early %}
        <th scope="col">
          Early<br>
          <small>Until 31st July 2018</small>
        </th>
      {% endif %}
      {% if today_date >= early %}
        <th scope="col">Regular<br>
          <small>Until 3rd October 2018</small></th>
        </tr>
      {% endif %}
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        All Inclusive<br>
        <small>3rd - 5th October 2018</small>
      </th>
      <td>€1,395</td>
      <td>€765 - €840</td>
      <td>€925 - €1,080</td>
      <td>€1,105 - €1,395</td>
    </tr>
    <tr>
      <th scope="row">
        UXDX conference<br>
        <small>4th - 5th October 2018</small>
      </th>
      <td>€999</td>
      <td>€550 - €605</td>
      <td>€665 - €720</td>
      <td>€795 - €999</td>
    </tr>
    <tr>
      <th scope="row">
        Training<br>
        <small>3rd October 2018</small>
      </th>
      <td>€650</td>
      <td>€350 - €385</td>
      <td>€425 - €460</td>
      <td>€505 - €650</td>
    </tr>
  </tbody>
</table> -->