---
layout: default
url_slug: home
---

{% assign pageContent = site.data.conference.pages | where:"url_slug", page.url_slug %}
{% assign pageContent = pageContent[0] %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <img src="{{site.baseurl}}/images/UXDX-White-LogoText-NoText.svg" class="header-logo" alt="UXDX">
    <h1 class="display-5">Enhance your Process</h1>
    <h3 class="display-4">
      <em>Advance your Product</em>
    </h3>
    <h5>3<sup>rd</sup> - 5<sup>th</sup> October 2018</h5>
    <p>Dublin</p>
  </div>
</div>


<div class="container-fluid section stats">
  <div class="container">
    <div class="d-flex justify-content-around flex-wrap">
      <div class="stat  align-self-stretch">
        <h3>2</h3>
        <p class="lead">Stages</p>
      </div>
      <div class="stat  align-self-stretch">
        <h3>1400</h3>
        <p class="lead">Attendees</p>
      </div>
      <div class="stat  align-self-stretch">
        <h3>33</h3>
        <p class="lead">Speakers</p>
      </div>
      <div class="stat  align-self-stretch">
        <h3>6</h3>
        <p class="lead">Workshops</p>
      </div>
    </div>
  </div>
</div>

{% for section in pageContent.sections %}
  <div class="container-fluid section {{section.codename}}">
    <div class="container">
      <h1>
        {{section.title}}
      </h1>

      {% if section.cards.size > 0 %}
      <div class="d-flex justify-content-around flex-wrap">
          {% for card in section.cards %}
            <div class="card align-self-stretch {% if section.cards.size > 2 %} group3 {% elsif section.cards.size > 1 %} group2 {% endif %}">
              <img class="card-img-top" src="{{card.card_image.url}}" alt="{{card.card_image.description}}">
              <div class="card-body">
                <h4 class="card-title">{{card.title}}</h4>
                <p class="card-text">
                  {{card.content}}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      {% if section.testimonials.size > 0 %}
        <div class="quotes">
          <i class="fas fa-quote-left fa-3x" aria-hidden="true"></i>
        </div>
        <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for tesimonial in section.testimonials %}
            <li data-target="#testimonialCarousel" data-slide-to="{{forloop.index0}}" class="{% if forloop.first == true %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner d-flex">
            {% for testimonial in section.testimonials %}
            <div class="carousel-item {% if forloop.first == true %}active{% endif %} align-self-stretch">
              <div class="client-description text-center">
                <h5>{{testimonial.quote}}</h5>
              </div>
              <div class="client-name text-center">
                <p>{{testimonial.source}}</p>
                <img src="{{testimonial.company_logo.url}}" alt="{{testimonial.source}}" class="testimonial-logo">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

<div class="container-fluid section highlighted_companies">
  <div class="container">
    <h1>Some Companies From Last Year</h1>
    <div class="d-flex flex-wrap justify-content-around">
      {% assign companies = site.data.highlightedCompanies | sort: 'order' %}
      {% for company in companies %}
        <img src="{{company.logo.url}}" alt="{{company.company_name}}" class="highlighted-company-logo">
      {% endfor %}
    </div>
  </div>
</div>
