// add your custom styles here
// to learn more about SASS, visit sass-lang.com
body {
  padding-top: 3.5rem;
  font-size: 1.2rem;
}
h1, h2, h3 {
  font-weight: 800;
}
.header-section {
  padding-top: 3rem;
}
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #00000033;
  &.colour_white {
    background-color: white;
  }
  &.colour_grey {
    background-color: $gray-100;
  }
  &.colour_blue {
    background: $uxdx-secondary;
    color: white;
  }
  &.colour_gradient {
    background: $uxdx;
    color: white;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
    @extend .mb-5;
    @extend .pb-3;
  }
  .paragraph-content p {
    @extend .pb-5;
    @extend .pt-2;
  }
}
@include media-breakpoint-up(sm) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

table {
  @extend .table;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 478px;
  &.group3 {
    width: 20rem;
  }
  &.group2 {
    width: 30rem;
  }
  .card-img-top {
    // padding:20px;
    max-height: 180px;
  }
  ul {
    @extend .list-group;
    @extend .list-group-flush;
    li {
      @extend .list-group-item;
    }
  }
  .card-sub-title {
    @extend .text-muted;
  }
  .card-body {
    a {
      @extend .card-link;
    }
  }
  .trainer-details {
    padding: 10px 20px;
    // border-bottom: 1px dashed #333;
    border-top: 1px dashed #333;
    .schedule__grid__event__photos {
      max-width: 80px;
      min-width: 80px;
      img.profile_picture {
        width: 50px;
        height: 50px;
        margin-top: 0.5rem;
        margin-right: 1rem;
      }
      img.company_logo {
        max-width: 50px;
        max-height: 30px;
      }
    }
    .schedule__grid__event__details {
      flex-grow: 1;
      .schedule__grid__event__title {
        @extend .h5;
      }
      
      .schedule__grid__event__speakers {
        font-size: 1rem;
        span.company {
          font-weight: 700;
        }
      }
    }
  }
}
.horizontal-content {

  .horizontal-image {
    min-width: 250px;
    width:250px;
    .horizontal-card-image {
      max-width: 90%;
    }
  }
  @include media-breakpoint-down(xs) {
    .container-row {
      flex-wrap: wrap;
    }
  }
}
  

//////////////
// NAV //
////////////////
.navbar {
  background: $uxdx;
  color: $white;
  .navbar-brand {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1.3rem;
        color: white;
      }
      .btn-light {
        margin-left: 15px;
        padding: 0.5rem 2rem;
        font-weight: 800;
        font-size: 1.1rem
      }
    }
  }
}
.conference-details-header p {
  margin-bottom: 0rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  &.conference-dates {
    font-weight: 700
  }
}


////////////////
// HOME PAGE //
////////////////

// Header //
.jumbotron {
  color: $white;
  text-align: center;
  margin-bottom: 0rem;

  .header-logo-div {
    display: none;
  }
  .header-logo {
    width: 250px;
    height: 250px;
  }
  .display-5 {
    font-size: 4rem;
    font-weight: 800;
  }
  .display-4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  .jumbotron_buttons {
    padding-top: 2rem;
    a {
      margin-right: 2rem;
    }
  }
  .jumbotron-subscribe-form {
    padding-top: 5rem;
    p {
      font-size: 1.1rem;
    }
  }
  @include media-breakpoint-up(sm) {
    .header-logo-div {
      display: block;
    }
  }
}
@include media-breakpoint-up(sm) {
  .jumbotron {
    padding: 8rem 2rem;
  }
}

// about-uxdx 
.about_uxdx_agenda_section {
  color: white;
  // text-align: center;
  &.cards-section {
    background-color: $secondary;
  }
  .card {
    color: black;
  }
  .button_link_div {
    text-align: center;
  }

  // .container {
  //   @extend .d-flex;
  //   @extend .flex-row;
  //   @extend .flex-wrap;
  // }
  // h2 {
  //   min-width: 200px;
  //   max-width: 300px;
  // }
  // .section-content {
  //   min-width: 200px;
  //   max-width: 800px;
  //   padding-left: 2rem;
  //   text-align: left;
  // }
}

// Stats
.stats-section {
  padding-bottom: 1.5rem;
  // margin-bottom: -5rem;
  padding-top: 1.5rem;
  box-shadow: 0px 1px 3px 0px rgb(113, 62, 156);
  .stat {
    width: 10rem;
    text-align: center;
    h3 {
      border-bottom: 4px solid $primary;
      display: inline-block;
      padding: 0px 10px;
    }
  }
}

.build_better_products, .build_better_products___ux, .build_better_products_dx, .build_better_products___product_page, .build_better_products___project, .build_better_products___design {
  figure {
    display: inline-block;
  }
  figure:first-of-type {
    padding-bottom: 4rem;
  }
  img {
    width: 300px;
  }
  @include media-breakpoint-up(sm) {
    figure:first-of-type {
      padding-left: 10rem;
      padding-right: 10rem;
      padding-bottom: 0rem;
    }
    figure {

    }
  }
}

// Questions
.questions-section {
  text-align: center;
  border-bottom: 2px solid $primary;
  .questions {
    text-align: left;
    padding-top: 1.75rem;
    .question {
      width: 300px;
      background: url("images/icons/green-checkmark.svg") no-repeat top 7px left;
      background-size: 25px;
      padding: 0 0 0 40px;
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(sm) {
      .question {
        width: 500px;
      }
    }
  }
  
  .card {
    &:nth-of-type(1) {
      .card-sub-title {
        border-bottom: 5px solid $gray-300;
      }
    }
    &:nth-of-type(2) {
      .card-sub-title {
        border-bottom: 5px solid $gray-300;
      }
    }
    .card-body {
      text-align: left;
      .card-title{
        font-size: 4rem;
      }
      .card-sub-title {
        font-size: 1.75rem;
        padding-bottom: 1rem;
      }
    }
  }
  a.btn {
    margin-top: 2rem;
    @extend .btn-lg;
  }
}

// PROBLEMS WITH PRODUCT DEVELOPMENT
.product_development_is_broken, .product_development_is_broken___dx_page, .product_development_is_broken___ux_page {
  .card {
    &:nth-of-type(1) {
      .card-sub-title {
        border-bottom: 5px solid $ux;
      }
    }
    &:nth-of-type(2) {
      .card-sub-title {
        border-bottom: 5px solid $dev;
      }
    }
    &:nth-of-type(3) {
      .card-sub-title {
        border-bottom: 5px solid $ops;
      }
    }
    .card-body {
      text-align: left;
      .card-title{
        font-size: 4rem;
      }
      .card-sub-title {
        font-size: 1.75rem;
        padding-bottom: 1rem;
      }
    }
  }
}

// BUTTONS
.buttons-section {
  .paragraph-content {
    text-align: center;
  }
}


// UXDX model
.cards-section {
  background-color: $gray-100;
}
.uxdx_model_section {
  .uxdx_model___ux_card {
    .card-body {
      // background-color: $ux;
      border-top: 5px solid $ux;
      border-bottom: 5px solid $ux;
    }
  }
  .uxdx_model___dev_card {
    .card-body {
      // background-color: $dev;
      border-top: 5px solid $dev;
      border-bottom: 5px solid $dev;
    }
  }
  .uxdx_model___ops_card {
    .card-body {
      // background-color: $ops;
      border-top: 5px solid $ops;
      border-bottom: 5px solid $ops;
    }
  }
}

.how_do_you_increase_the_odds_of_success__section_94ee139, .how_uxdx_can_help___horizontal_section {
  .horizontal-content {
    @extend .flex-wrap; 
    .horizontal-image, .px-2 {
      flex: 1;
    }
  }
}
.equal_image_ratio {
  flex: 1;
}

// Generic buttons
.button_link_div {
  text-align:center;
}

// Call to Action
.register_now___section {
  background: $uxdx-secondary;
  color: white;
  text-align: center;
  font-size: 4rem;
}
.register_now___section_desi {
  text-align: center;
  h2 {
    font-size: 4rem;
    margin-bottom: 0rem !important;
  }
  p {
    padding-bottom: 1rem !important;
  }
}


/// TESTIMONIALS
.testimonials-section {
  // background: $uxdx;
  // color: $white;
  background: $gray-100;
  .quotes {
    text-align: center;
    // color: $white;
  }
  .carousel {
    padding: 20px 40px;
  }
  .carousel-inner {
    min-height: 225px;
  }
  ol.carousel-indicators li {
    margin-top: 20px;
    background: $gray-500;
    &.active {
      background: $gray-700;
    }
  }
  .testimonial-logo {
    max-width: 150px;
    max-height: 60px;
    margin-bottom: 40px;
  }
}

// Companies
.highlighted-company-logo {
  width: 10rem;
  height: 6rem;
  margin: 1.2rem;
  img {
    filter: saturate(5%);
    max-width: 120px;
    max-height: 80px;
  }
}
.highlighted-sponsor-logo {
  width: 10rem;
  height: 4rem;
  margin: 3rem 2rem;
  img {
    filter: saturate(50%);
    max-width: 100%;
    max-height: 100%;
  }
}

.video-link {
  // background-color: $secondary;
  text-align: center;
  img {
    max-width:750px;
    width:100%;
  }
}

.video-section-content {
  @extend .d-flex;
  @extend .flex-row;
  @extend .flex-wrap;
  .video-section-text {
    width: 300px;
    color: white;
    text-align: left;
  }
  .video-section-video {
    min-width: 300px;
  }
}

.fullscreen-video {
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
  }
  a {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    font-size: 3rem;
    font-weight: 700;
    color: black;
  }
}

// Highlight Photos
.image_rows-section {
  padding:0px;
  .d-flex {
    flex-wrap:wrap;
    div {
      flex: 1;
    }
    .image-flex {
      align-items: stretch;
    }
    .double-width {
      flex:2;
    }
  }
  img {
    width: 100%;
  }
  @include media-breakpoint-down(xs) {
    .d-flex {
      align-items: stretch;
      .image-flex {
        min-width: 20rem;
      }
      // flex-wrap: none;
      .image-flex:not(:first-child) {
        display: none;
      }
    }
  }
}

// PARTNER PAGE
.we_attract_your_target_market_section {
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 478px;
    border: 0px;
    &.group3 {
      flex-direction: column-reverse;
      text-align: center;
      width: 30rem;
    }
    .card-img-top {
      // padding:20px;
      max-height: 400px;
    }
    .card-body {
      padding-bottom: 0px;
    }
  }
}

// SIGNUP FORM //
.mauticform_wrapper {
  max-width: 100% !important;
  padding-top: 0px !important;
}
.forms-section {
  background: $uxdx;
  text-align: left;
  color: white;
  .btn-primary {
    @extend .btn-light;
  }
}
.header-form {
  @extend .d-flex;
  @extend .flex-row;
  justify-content: center;
  width: 100%;
  .form-group {
    width: 100%;
    input {
      // @extend .mx-sm-2;
      margin-right: 1rem;
      min-width: 150px;
    }
    .btn {
      width: 100%;
    }
  }
}
@include media-breakpoint-up(sm) {
  .header-form {
    .form-group {
      width: auto;
      .btn {
        width: auto;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .header-form {
    flex-wrap: wrap
  }
}
.mauticform-message {
  width: 100%;
}
// .subscribe_.forms-section {
//   background: $secondary;
//   h2 {
//     font-size: 2rem;
//     font-weight: 400;
//   }
//   p:first-of-type {
//     font-size: 2rem;
//   }
//   // color: #444;
//   // .btn-primary {
//   //   @extend .btn-outline-dark;
//   // }
// }

.recommend_a_speaker_section {
  background: inherit;
  color: inherit;
  // .btn-primary {
  //   @extend .btn-outline-dark;
  // }
}

// Modal
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 80%;
  }
}

// MAP
.google-map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

// SPLASH //
.splash-screen {
    background: url('images/two-hamsters.jpg') no-repeat center bottom;
    background-size: cover;
    height: 800px;

  }
  .splash-container {
    color: white;
    text-shadow: 1px 1px #000000;
    h1 {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  @include media-breakpoint-down(xs) {
    .splash-screen {
      height:500px;
    }
  }





// SPEAKERS //
.uxdx_2019_speakers_highlights {
  padding-top: 2rem;
}
.img-holder {
  position: relative;
  margin: auto;
  width: 254px;
  height: 254px;
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  background-color: $secondary;
}
.speaker-img {
  @extend .feature-img;
  filter: grayscale(85%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  &:hover {
    // filter:grayscale(0%);
  }
}
.feature-img {
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 250px;
  height: 250px;
}
.speaker-img-modal {
  width: 250px;
  height:250px;
  border-radius: 10%;
}
.speaker-box {
  width: 18rem;
  &.card {
    border: 0px;
    cursor: pointer;
  }
  .card-img-top {
    max-height: 100%;
  }
}
.company-logo {
  max-width: 6rem;
  max-height: 3rem;
}


///////////////////
// ATTENDEES /////
//////////////////
.attendees___section, .team_attendees {
  .card {
    width: 12rem;
    .card-img-top {
      max-height:100%;
      max-width:100%;
    }
    .company-image {
      max-width: 5rem;
      max-height: 3rem;
    }
  }
}
///////////////////
// PARTNERS /////
//////////////////
.partner-box {
  width: 30rem;
  .partner-profile {
    max-width:200px;
    margin: 2rem;
  }
  .card-img-top { 
    border-bottom: 1px dashed $primary;
  }
  .display-controllers {
    cursor: pointer;
    color: $cyan;
    .show-ctrl {
      display:none;
    }
    .hide-ctrl {
      display: block;
    }
    &.collapsed {
      .show-ctrl {
        display:block;
      }
      .hide-ctrl {
        display: none;
      }
    }
  }
}


////////////////////////
/// TICKETS ////////////
////////////////////////
.tickets {
  small {
    font-size: 70%;
  }
  .tickets-table {
    font-size: 1.3rem;
    width: 100%;
    min-width: 20rem;
    thead tr th {
      background-color: $secondary;
    }
    @include media-breakpoint-up(md) {
      // max-width: 30rem;
    }
  }
  .details {
    // max-width: 30rem;
    padding-bottom: 3rem;
  }
  .tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
  }

}
.ticket-card {
  width: 335px;
  margin-right: 2rem;
  .tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }
  .ticket-details {
    height: 80px;
  }
  .card-header {
    background-color: $action;
  }
  .card-title {
    font-size: 2.5rem;
    margin-bottom: 0px !important;
  }
  ul li:nth-child(odd) {
    background-color: #fbfbfb;
  }
}

.tito-tickets-button {
  @extend .btn;
  @extend .btn-light;
}

.button__widget {
  tito-widget {
  .tito-wrapper {
    color: white;
    .tito-ticket-vat {
      color: white;
    }
    .tito-ticket-description {
      color: white;
    }
  }
}
}
tito-widget.regular {
  .tito-ticket-name-wrapper {
    text-align: left;
  }
  .tito-ticket-name {
    font-size: 1.5rem;
  }
  .tito-degressive-price-desc {
    font-size:small;
  }
}
.tito-widget:not(.regular) {
  .tito-wrapper {
    max-width: 500px;
  }
}



// FOOTER
footer {
  background-color: $gray-900;
  padding-top: 3rem;
  border-top: 1px solid #ffffff33;
  
  a {
    color: $gray-500;
    font-size: 1rem;
    padding-right: 10px;
    &:hover {
      color: white;
    }
  }
  // text-align: center;
  .footer-nav {
    // border-bottom: 1px solid $gray-500;
    .footer-nav-menu-col {
      min-width: 14rem;
    }
    dt {
      @extend h4;
      color: white;
    }
  }
  .footer-social {
    padding: 1.5rem 0rem;
    color: $gray-500;
    dt {
      padding-right: 0.5rem;
    }
    dd {
      padding: 0 0.5rem;
      svg {
        fill: $gray-500;
      }
    }

  }
}

.model {
  width: 200px;
}

.alert {
  margin-bottom: 0rem;
  padding: 1.25rem 1.25rem 0.75rem 1.25rem
}

.blog-list-section {
  padding-top:2rem;
  .meta {
    font-size: 0.8rem;
    color: #333;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      padding-bottom: 20px;
      a {
        font-size: 1.8rem;
      }
    }
  }
}
.blog {
  header {
    padding-top:2rem;
  }
  .meta {
    font-size: 0.8rem;
    color: #333;
  }
  .entry {
    padding-top: 2rem;
    font-size: 1.4rem ;
    padding-bottom: 2rem;
    h2, h3 {
      padding-top:2rem;
    }
  }
  blockquote {
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    margin-left: -23px;
    padding: 20px 0px 2px 20px;
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
    cite {
      font-size: 1rem;
      color: rgb(0,0,0);
    }
  }
}

//////////////////////////
// MODEL PAGE
/////////////////////////
.product-project-comparison-table {
  display:flex;
  flex-direction: column;
  .product-project-comparison-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    .product-project-comparison {
      padding: 1.5rem;
      h3 {
        font-weight: 400;
        font-size: 1.75rem;
      }
      
      .delivery-category {
        font-weight: 800;
      }
      .highlight {
        font-size: 1.5rem;
        text-decoration: underline;
        font-style: italic;
      }
    }
    .header {
      font-size: 2rem;
      font-weight: 800;
      display: none;
    }
    .category-cell {
      width: 100%;
      font-size: 2rem;
      font-weight: 800;
      border-bottom: 5px solid $primary;
      margin-bottom: 2rem;
    }
    .project-cell, .product-cell {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(sm) {
  .product-project-comparison-table {
    .product-project-comparison-row {
      &:not(:first-of-type) {
        border-top: 5px solid $primary;
        padding: 2rem 0rem;
      }

      .header {
        display: block;
        img {
          width: 300px;
        }
      }
      .delivery-category {
        display: none;
      }
      .category-cell {
        min-width: 200px;
        width: 20%;
        border-bottom: 0px;
      }
      .project-cell, .product-cell {
        min-width: 350px;
        width: 40%;
      }
    }
  }
}

.uxdx_model_process {
  .horizontal-content {
    padding-bottom: 3rem;
    .card-title {
      font-size: 2.5rem;
    }
  }

}




