// add your custom styles here
// to learn more about SASS, visit sass-lang.com
body {
  padding-top: 3.5rem;
  font-size: 1.2rem;
}
.header-section {
  padding-top: 3rem;
}
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h2 {
    font-size: 4rem;
  }
  // border-bottom: 2px dashed $primary;
}
table {
  @extend .table;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 478px;
  &.group3 {
    width: 20rem;
  }
  &.group2 {
    width: 30rem;
  }
  .card-img-top {
    // padding:20px;
    max-height: 180px;
  }
  ul {
    @extend .list-group;
    @extend .list-group-flush;
    li {
      @extend .list-group-item;
    }
  }
  .card-sub-title {
    @extend .text-muted;
  }
  .card-body {
    a {
      @extend .card-link;
    }
  }
  .trainer-details {
    padding: 10px 20px;
    // border-bottom: 1px dashed #333;
    border-top: 1px dashed #333;
    .schedule__grid__event__photos {
      max-width: 80px;
      min-width: 80px;
      img.profile_picture {
        width: 50px;
        height: 50px;
        margin-top: 0.5rem;
        margin-right: 1rem;
      }
      img.company_logo {
        max-width: 50px;
        max-height: 30px;
      }
    }
    .schedule__grid__event__details {
      flex-grow: 1;
      .schedule__grid__event__title {
        @extend .h5;
      }
      
      .schedule__grid__event__speakers {
        font-size: 1rem;
        span.company {
          font-weight: 700;
        }
      }
    }
  }
}
.horizontal-content {

  .horizontal-image {
    min-width: 250px;
    width:250px;
    .horizontal-card-image {
      max-width: 90%;
    }
  }
  @include media-breakpoint-down(xs) {
    .container-row {
      flex-wrap: wrap;
    }
  }
}
  

//////////////
// NAV //
////////////////
.navbar {
  background: $uxdx;
  color: $white;
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-dark .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1rem;
        color: white;
      }
      .btn-outline-light {
        padding: 0.5rem 2rem;
        font-weight: 700;
      }
    }
  }
}
.conference-details-header p {
  margin: 0.8rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
}


////////////////
// HOME PAGE //
////////////////

// Header //
.jumbotron {
  color: $white;
  // text-align: center;
  margin-bottom: 0rem;
  .header-logo-div {
    display: none;
  }
  .header-logo {
    width: 250px;
    height: 250px;
  }
  .display-5 {
    font-size: 5rem;
    font-weight: 500;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  @include media-breakpoint-up(sm) {
    .header-logo-div {
      display: block;
    }
  }
}

// about-uxdx 
.about_uxdx_section {
  .container {
    @extend .d-flex;
    @extend .flex-row;
  }
  
}

// Stats
.stats-section {
  padding-bottom: 2rem;
  .stat {
    width: 10rem;
    text-align: center;
    h3 {
      border-bottom: 4px solid $primary;
      display: inline-block;
      padding: 0px 10px;
    }
  }
}


// UXDX model
.cards-section {
  background-color: $gray-100;
}
.uxdx_model_section {
  .uxdx_model___ux_card {
    .card-body {
      // background-color: $ux;
      border-top: 5px solid $ux;
      border-bottom: 5px solid $ux;
    }
  }
  .uxdx_model___dev_card {
    .card-body {
      // background-color: $dev;
      border-top: 5px solid $dev;
      border-bottom: 5px solid $dev;
    }
  }
  .uxdx_model___ops_card {
    .card-body {
      // background-color: $ops;
      border-top: 5px solid $ops;
      border-bottom: 5px solid $ops;
    }
  }
}

// Call to Action
.buttons-section {
  background: $uxdx-secondary;
  color: white;
  text-align: center;
}


/// TESTIMONIALS
.testimonials-section {
  // background: $uxdx;
  // color: $white;
  background: $gray-100;
  .quotes {
    text-align: center;
    // color: $white;
  }
  .carousel {
    padding: 20px 40px;
  }
  .carousel-inner {
    min-height: 200px;
  }
  ol.carousel-indicators li {
    margin-top: 20px;
    background: $gray-500;
    &.active {
      background: $gray-700;
    }
  }
  .testimonial-logo {
    max-width: 150px;
    max-height: 60px;
    margin-bottom: 40px;
  }
}

// Companies
.highlighted-company-logo {
  width: 10rem;
  height: 6rem;
  margin: 1.2rem;
  img {
    filter: saturate(5%);
    max-width: 120px;
    max-height: 80px;
  }
}
.highlighted-sponsor-logo {
  width: 15rem;
  height: 10rem;
  margin: 1.2rem;
}

// Highlight Photos
.image_rows-section {
  padding:0px;
  .d-flex {
    flex-wrap:wrap;
    div {
      flex: 1;
    }
    .image-flex {
      align-items: stretch;
    }
    .double-width {
      flex:2;
    }
  }
  img {
    width: 100%;
  }
  @include media-breakpoint-down(xs) {
    .d-flex {
      align-items: stretch;
      .image-flex {
        min-width: 20rem;
      }
      // flex-wrap: none;
      .image-flex:not(:first-child) {
        display: none;
      }
    }
  }
}

// SIGNUP FORM //
.forms-section {
  background: $gray-300;
  color: #444;
  .btn-primary {
    @extend .btn-outline-dark;
  }
}

.recommend_a_speaker_section {
  background: inherit;
  color: inherit;
  // .btn-primary {
  //   @extend .btn-outline-dark;
  // }
}

// Modal
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 80%;
  }
}

// MAP
.google-map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

// SPLASH //
.splash-screen {
    background: url('images/two-hamsters.jpg') no-repeat center bottom;
    background-size: cover;
    height: 800px;

  }
  .splash-container {
    color: white;
    text-shadow: 1px 1px #000000;
    h1 {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  @include media-breakpoint-down(xs) {
    .splash-screen {
      height:500px;
    }
  }





// SPEAKERS //
.img-holder {
  position: relative;
  margin: auto;
  width: 204px;
  height: 204px;
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  background-color: $secondary;
}
.speaker-img {
  @extend .feature-img;
  filter: grayscale(85%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  &:hover {
    // filter:grayscale(0%);
  }
}
.feature-img {
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 200px;
  height: 200px;
}
.speaker-img-modal {
  width: 250px;
  height:250px;
  border-radius: 10%;
}
.speaker-box {
  width: 14rem;
  &.card {
    border: 0px;
    cursor: pointer;
  }
  .card-img-top {
    max-height: 100%;
  }
}
.company-logo {
  max-width: 6rem;
  max-height: 3rem;
}


///////////////////
// ATTENDEES /////
//////////////////
.attendees___section, .team_attendees {
  .card {
    width: 12rem;
    .card-img-top {
      max-height:100%;
      max-width:100%;
    }
    .company-image {
      max-width: 5rem;
      max-height: 3rem;
    }
  }
}
///////////////////
// PARTNERS /////
//////////////////
.partner-box {
  width: 30rem;
  .partner-profile {
    max-width:200px;
    margin: 2rem;
  }
  .card-img-top { 
    border-bottom: 1px dashed $primary;
  }
  .display-controllers {
    cursor: pointer;
    color: $cyan;
    .show-ctrl {
      display:none;
    }
    .hide-ctrl {
      display: block;
    }
    &.collapsed {
      .show-ctrl {
        display:block;
      }
      .hide-ctrl {
        display: none;
      }
    }
  }
}


////////////////////////
/// TICKETS ////////////
////////////////////////
.tickets {
  small {
    font-size: 70%;
  }
  .tickets-table {
    font-size: 1.3rem;
    width: 100%;
    min-width: 20rem;
    thead tr th {
      background-color: $secondary;
    }
    @include media-breakpoint-up(md) {
      // max-width: 30rem;
    }
  }
  .details {
    // max-width: 30rem;
    padding-bottom: 3rem;
  }
  .tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
  }

}
.ticket-card {
  width: 335px;
  margin-right: 2rem;
  .tito-tickets-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }
  .ticket-details {
    height: 80px;
  }
  .card-header {
    background-color: $action;
  }
  .card-title {
    font-size: 2.5rem;
  }
  ul li:nth-child(odd) {
    background-color: #fbfbfb;
  }
}

.tito-tickets-button {
  @extend .btn;
  @extend .btn-outline-light;
}

.button__widget {
  tito-widget {
  .tito-wrapper {
    color: white;
    .tito-ticket-vat {
      color: white;
    }
    .tito-ticket-description {
      color: white;
    }
  }
}
}
tito-widget.regular {
  .tito-ticket-name-wrapper {
    text-align: left;
  }
  .tito-ticket-name {
    font-size: 1.5rem;
  }
  .tito-degressive-price-desc {
    font-size:small;
  }
}
.tito-widget:not(.regular) {
  .tito-wrapper {
    max-width: 500px;
  }
}



// FOOTER
footer {
  background-color: $gray-700;
  padding-top: 3rem;
  
  a {
    color: $gray-500;
    font-size: 1rem;
    padding-right: 10px;
  }
  // text-align: center;
  .footer-nav {
    border-bottom: 1px solid $gray-500;
    .footer-nav-menu-col {
      min-width: 15rem;
    }
    dt {
      @extend h4;
      color: white;
    }
  }
  .footer-social {
    padding: 1.5rem 0rem;
    color: $gray-500;
    dt {
      padding-right: 0.5rem;
    }
    dd {
      padding: 0 0.5rem;
      svg {
        fill: $gray-500;
      }
    }

  }
}

.model {
  width: 200px;
}

.alert {
  margin-bottom: 0rem;
}

.blog-list-section {
  padding-top:2rem;
  .meta {
    font-size: 0.8rem;
    color: #333;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      padding-bottom: 20px;
      a {
        font-size: 1.8rem;
      }
    }
  }
}
.blog {
  header {
    padding-top:2rem;
  }
  .meta {
    font-size: 0.8rem;
    color: #333;
  }
  .entry {
    padding-top: 2rem;
    font-size: 1.4rem ;
    padding-bottom: 2rem;
    h2, h3 {
      padding-top:2rem;
    }
  }
  blockquote {
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    margin-left: -23px;
    padding: 20px 0px 2px 20px;
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
    cite {
      font-size: 1rem;
      color: rgb(0,0,0);
    }
  }
}

