---
layout: default
permalink: /agenda
url_slug: agenda
title: Challenge Your Assumptions
conference: 93fa9263-4b09-442e-b010-0c673b73dc76
---

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %} {% assign pageContent = pageContent[0] %}

{% include components/pageTitle.html pageContent=pageContent %}
{% if pageContent.header_image.size == 0 and pageContent.sections[0].jumbotron.length == 0 %}
<div class= "container header-section {{pageContent.codename}}" >
  <h1>{{pageContent.title}}</h1>
</div >
{% endif %}
{% for section in pageContent.sections %} {% include components/section.html section=section %} {% endfor %}
