---
layout: default
permalink: /code-of-conduct/
url_slug: code-of-conduct
---

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %} {% assign pageContent = pageContent[0] %}

{% include pageTitle.html pageContent=pageContent %}
{% if pageContent.header_image.size == 0 %}
<div class= "container header-section {{pageContent.codename}}" >
  <h1>{{pageContent.title}}</h1>
</div >
{% endif %}
{% for section in pageContent.sections %} {% include section.html section = section %} {% endfor %}
