---
layout: default
permalink: /dublin
url_slug: dublin
title: UXDX Dublin
conference: f37b1317-0b0a-4f7a-9cc2-197cc727d445
---

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %} {% assign pageContent = pageContent[0] %}

{% include components/pageTitle.html pageContent=pageContent %}
{% if pageContent.header_image.size == 0 and pageContent.sections[0].jumbotron.length == 0 %}
<div class= "container header-section {{pageContent.codename}}" >
  <h1>{{pageContent.title}}</h1>
</div >
{% endif %}
{% for section in pageContent.sections %} {% include components/section.html section=section %} {% endfor %}
