---
layout: default
permalink: /helsinki
url_slug: helsinki
title: UXDX Helsinki
conference: 683c2ef9-ff30-40f6-bbc7-7ed4ea8870c9
---

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %} {% assign pageContent = pageContent[0] %}

{% include components/pageTitle.html pageContent=pageContent %}
{% if pageContent.header_image.size == 0 and pageContent.sections[0].jumbotron.length == 0 %}
<div class= "container header-section {{pageContent.codename}}" >
  <h1>{{pageContent.title}}</h1>
</div >
{% endif %}
{% for section in pageContent.sections %} {% include components/section.html section=section %} {% endfor %}
