---
layout: default
permalink: /paris
url_slug: paris
title: UXDX Paris
conference: 82b0e6d0-78b3-4a30-9f74-0571c0659aad
---

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %} {% assign pageContent = pageContent[0] %}

{% include components/pageTitle.html pageContent=pageContent %}
{% if pageContent.header_image.size == 0 and pageContent.sections[0].jumbotron.length == 0 %}
<div class= "container header-section {{pageContent.codename}}" >
  <h1>{{pageContent.title}}</h1>
</div >
{% endif %}
{% for section in pageContent.sections %} {% include components/section.html section=section %} {% endfor %}
