{% capture nowunix %} {{'now' | date: '%s'}} {% endcapture %} 
{% assign future = nowunix | plus: 1209600 %}
{% assign past = nowunix | minus: 1209600 %}

{% if page.url == "/agenda" %}
<div class="alert alert-info agenda-alert" role="alert">
  <h2>You can set the agenda for UXDX 2020</h2>
  <p>We shape the agenda around what you want to know.</p> 
  <p>Let us know what companies are doing great work and what you want to hear about.</p>
    <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6ynLt9ORGTSEA9mUt71zxqCI-xfHJhWk2twifRNNKTurZlQ/viewform?usp=sf_link" class="btn btn-primary btn-lg">Share Your Thoughts</a> -->
    <a href="https://uxdxconf.com/speak" class="btn btn-primary btn-lg">Apply to Speak</a>
</div>
{% endif %}

<div class="uxdx_agenda">

  {% if include.agenda.dates.size > 1 or include.agenda.locations.size > 1 %}
  <div class="nav-row d-flex flex-wrap justify-content-between">
    {% if include.agenda.dates.size > 1 %}
    <ul class="nav nav-tabs" role="tablist" id="pills-tab">
      {% for date in include.agenda.dates %}
      <li class="nav-item">
        {% if forloop.first == true %}
        <a class="nav-link active" id="{{date | date: "%a%d%b"}}-tab" data-toggle="pill" href="#{{date | date: "%a%d%b"}}" role="tab"
          aria-controls="{{date | date: "%a%d%b"}}" aria-selected="true">{{date | date: "%a %d %b"}}</a>
        {% else %}
        <a class="nav-link" id="{{date | date: "%a%d%b"}}-tab" data-toggle="pill" href="#{{date | date: "%a%d%b"}}" role="tab"
          aria-controls="{{date | date: "%a%d%b"}}">{{date | date: "%a %d %b"}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %} 
    {% comment %}
    <!-- {% if include.agenda.locations.size > 1 %}
    <div class="btn-group-toggle stage-toggles" data-toggle="buttons">
      {% for location in include.agenda.locations %}
      <label class="btn active {{location}}-toggle-button">
        <input type="checkbox" checked autocomplete="off" id="{{location}}"> {{location}}
      </label>
      {% endfor %}
    </div>
    {% endif %} -->
    {% endcomment %}
  </div>
  {% endif %}
  
  
  <div class="schedule__content schedule__content tab-content" agenda-id="{{include.agenda.id}}">
    {% for date in include.agenda.dates %}
    <div class="tab-pane fade  {% if forloop.first == true %} show active {% endif %}" id="{{date | date: "%a%d%b"}}" role="tabpanel"
      aria-labelledby="{{date | date: "%a%d%b"}}-tab">
      <!-- <h2><a name="{{date}}">{{date | date: "%a%d%b"}}</a></h2> -->
      <div class="schedule__grid">
        {% for startTime in agenda[date] %}
        <div class="schedule__grid__section">
          <div class="schedule__grid__content">
            <div class="schedule__grid__time">{{startTime | date: "%H:%M" }}</div>
            <div class="schedule__grid__events">
              <!-- If it is a regular agenda sort in reverse: Vision, Execution -->
              {% if include.agenda.start_times[startTime][0].session[0].type != "Break" %}
                {% assign sortedSessions = include.agenda.start_times[startTime] | sort: 'location' | reverse %}
              {% else %}
                {% assign sortedSessions = include.agenda.start_times[startTime] | sort: 'location' %}
              {% endif %}
              {% for session in sortedSessions %}
              <div class="schedule__grid__event {{session.location}} {{session.session[0].type}}" session-id="{{session.session[0].id}}">
                <div class="schedule__grid__event__photos">
                {% if session.session[0].speakers.size == 1 %}
                <img src="{{session.session[0].speakers[0].profile_picture[0].url}}" alt="{{session.session[0].speakers[0].first_name}} {{session.session[0].speakers[0].last_name}}, {{session.session[0].speakers[0].job_title}}"
                class="profile_picture">
                <img src="{{session.session[0].speakers[0].company_logo[0].url}}" alt="{{session.session[0].speakers[0].company}}" class="company_logo"> {% elsif session.session[0].speakers.size > 1 %}
                <img src="{{site.baseurl}}/images/panel.jpg" alt="Panel Session" class="profile_picture"> 
                {% endif %} 
                {% if session.session[0].youtube.size > 0 %}
                <div class="video-btn" data-toggle="modal" data-src="{{session.session[0].youtube}}" data-target="#youtubeModal">
                  <img src="{{site.baseurl}}/images/youtube.svg" width="20" height="20"> Watch
                </div>
                {% endif %}
                {% if session.session[0].slides.size > 0 %}
                <a href="{{session.session[0].slides}}" class="slides-btn" target="_blank">
                  <img src="{{site.baseurl}}/images/slides.svg" width="20" height="20"> Slides
                </a>
                {% endif %}
                </div>
                <div class="schedule__grid__event__details">
                  <div class="schedule__grid__event__title">
                    {{session.session[0].name}}
                  </div>
                  <div class="schedule__grid__event__speakers">
                    {% for speaker in session.session[0].speakers %}
                    <p>{{speaker.first_name}} {{speaker.last_name}}, {{speaker.job_title}},
                      <span class="company">{{speaker.company}}</span>
                    </p>
                    <!-- {% if forloop.last != true %}
                      <br>
                      {% endif %} -->
                    {% endfor %}
                  </div>
                  <div class="schedule__grid__event__meta">
                    <div class="d-flex justify-content-between flex-wrap">
                      <div class="meta-details">
                        <!-- and session.session[0].type != "Break" -->
                        {% if session.location and session.location != "Agenda" %}
                        <span class="badge {{session.location}}">{{session.location}}</span>
                        {{session.stream[0].name}} {% endif %}
                      </div>
                      {% if session.session[0].speakers.size == 0 %}
                        {{session.session[0].description | truncatewords: 30}}
                      {% endif %}
                      {% if session.session[0].description.size > 50 %}
                      <div class="display-controllers collapsed" data-toggle="collapse" data-target="#{{session.codename}}" aria-expanded="false"
                      aria-controls="{{session.codename}}">
                      <span class="show-ctrl">
                        <i class="fas fa-chevron-down"></i>
                        <small>More</small>
                        </span>
                        <span class="hide-ctrl">
                          <i class="fas fa-chevron-up"></i>
                          <small>Less</small>
                        </span>
                      </div>
                      {% endif %}
                    </div>
                    
                    {% capture sessiontime %} {{startTime | date: '%s'}} {% endcapture %} 
                    {% assign sessiontime = sessiontime | plus: 0 %}
                    
                    {% if sessiontime < future and sessiontime > past and page.url == '/feedback' %}
                      <div>
                        <button data-target="#feedbackDialog" data-toggle="modal" class="btn btn-secondary openFeedbackDialog" data-session-id="{{session.session[0].codename}}" data-session-name="{{session.session[0].name}}">Give Feedback</button>
                      </div>
                    {% endif %}
                    <div class="collapse" id="{{session.codename}}">
                      <!-- <div class="card card-body"> -->
                      {{session.session[0].description}}
                      
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Video Modal -->
<div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="youtubeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feedback Modal -->
<div class="modal fade" id="feedbackDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="session-id">
          <fieldset class="starability-basic">
            <legend>Speaker:</legend>
            <input type="radio" id="no-speaker-rate" class="input-no-rate" name="speaker-rating" value="0" checked aria-label="No speaker-rating." />
            <input type="radio" id="speaker-rate1" name="speaker-rating" value="1">
            <label for="speaker-rate1" title="Terrible">1 star</label>
            <input type="radio" id="speaker-rate2" name="speaker-rating" value="2">
            <label for="speaker-rate2" title="Not good">2 stars</label>
            <input type="radio" id="speaker-rate3" name="speaker-rating" value="3">
            <label for="speaker-rate3" title="Average">3 stars</label>
            <input type="radio" id="speaker-rate4" name="speaker-rating" value="4">
            <label for="speaker-rate4" title="Very good">4 stars</label>
            <input type="radio" id="speaker-rate5" name="speaker-rating" value="5">
            <label for="speaker-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <fieldset class="starability-basic">
            <legend>Content:</legend>
            <input type="radio" id="no-content-rate" class="input-no-rate" name="content-rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="content-rate1" name="content-rating" value="1">
            <label for="content-rate1" title="Terrible">1 star</label>
            <input type="radio" id="content-rate2" name="content-rating" value="2">
            <label for="content-rate2" title="Not good">2 stars</label>
            <input type="radio" id="content-rate3" name="content-rating" value="3">
            <label for="content-rate3" title="Average">3 stars</label>
            <input type="radio" id="content-rate4" name="content-rating" value="4">
            <label for="content-rate4" title="Very good">4 stars</label>
            <input type="radio" id="content-rate5" name="content-rating" value="5">
            <label for="content-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="form-group">
            <label for="feedback-comment">Comment</label>
            <textarea class="form-control" id="feedback-comment" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="blank.html" class="btn btn-primary" id="submit">Submit</a>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


<script>
  $('#feedbackDialog').on('show.bs.modal', function (e) {
    //get data-id attribute of the clicked element
    var sessionId = $(e.relatedTarget).data('sessionId');
    var sessionName = $(e.relatedTarget).data('sessionName');

    //populate the textbox
    $('#modalTitle').text(sessionName);
    $('#session-id').val(sessionId);

  })

  $("#submit").click(function (e) {
    e.preventDefault();
    let sessionId = $('#session-id').val()
    let response = {
      speaker: $("input:radio[name ='speaker-rating']:checked").val(),
      content: $("input:radio[name ='content-rating']:checked").val(),
      comment: $('#feedback-comment').val(),
      timeStamp: Date.now()
    }
    
    // send the response
    $.ajax({
      url: "https://socmov-45ba2.firebaseio.com/feedback/community-2020/" + sessionId + "/feedback.json",
      type: 'POST',
      data: JSON.stringify(response),
      dataType: 'json'
    }).done(function (e) {
      // console.log(e)
    });

    // reset data
    $('#feedback-comment').val(''),
    $("#no-content-rate").prop('checked', true);
    $("#no-speaker-rate").prop('checked', true);
    $('#session-id').val('')

    // close the modal
    $('#feedbackDialog').modal('hide');
  });

  
  var $videoSrc;  
  $('.video-btn').click(function() {
      $videoSrc = $(this).data( "src" );
  });

  // when the modal is opened autoplay it  
  $('#youtubeModal').on('shown.bs.modal', function (e) {
    // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
    $("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" ); 
  })
  
  // stop playing the youtube video when I close the modal
  $('#youtubeModal').on('hide.bs.modal', function (e) {
    // a poor man's stop video
    $("#video").attr('src',$videoSrc); 
  })

</script>