
<div class="countdown-timer"></div>

<script type="application/javascript">

  const today_date = Date.now()

  const dates = {
    februaryLaunchStart: {
      date: new Date(2020, 1, 14, 06, 00, 00),
      pre: '<div class="alert alert-warning" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. The one-day sale starts in ',
      post: '- <strong><a href="{{ site.baseurl }}/pre-sale">register for the pre-sale now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    februaryLaunchEnd: {
      date: new Date(2020, 1, 15, 23, 59, 59),
      pre: '<div class="alert alert-danger" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. Sale ends in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    
    marchLaunchStart: {
      date: new Date(2020, 2, 13, 06, 00, 00),
      pre: '<div class="alert alert-warning" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. The one-day sale starts in ',
      post: '- <strong><a href="{{ site.baseurl }}/pre-sale">register for the pre-sale now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    marchLaunchEnd: {
      date: new Date(2020, 2, 14, 23, 59, 59),
      pre: '<div class="alert alert-danger" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. Sale ends in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    
    aprilLaunchStart: {
      date: new Date(2020, 3, 17, 06, 00, 00),
      pre: '<div class="alert alert-warning" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. The one-day sale starts in ',
      post: '- <strong><a href="{{ site.baseurl }}/pre-sale">register for the pre-sale now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    aprilLaunchEnd: {
      date: new Date(2020, 3, 18, 23, 59, 59),
      pre: '<div class="alert alert-danger" role="alert">Get <b>50% off your UXDX 2020 ticket</b>. Sale ends in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },

    initial: {
      date: new Date(2020, 4, 3, 00, 00, 00),
      pre: '<div class="alert alert-info" role="alert">Initial tickets go on sale in ',
      post: '- <strong><a href="{{ site.baseurl }}/pre-sale">register for the pre-sale now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    super_early: {
      date: new Date(2020, 5, 6, 23, 59, 59),
      pre: '<div class="alert alert-info" role="alert">Prices increase in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    early: {
      date: new Date(2020, 6, 4, 23, 59, 59),
      pre: '<div class="alert alert-info" role="alert">Prices increase in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    mid: {
      date: new Date(2020, 7, 1, 23, 59, 59),
      pre: '<div class="alert alert-info" role="alert">Prices increase in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    regular: {
      date: new Date(2020, 8, 5, 23, 59, 59),
      pre: '<div class="alert alert-info" role="alert">Prices increase in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    },
    late: {
      date: new Date(2020, 9, 9, 15, 59, 59),
      pre: '<div class="alert alert-info" role="alert">Prices increase in ',
      post: '- <strong><a href="https://ti.to/initiate/europe-2020/with/february-launch">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
    }
  } 

  function getExpiryDate() {
    let expiry
    let tickets = Object.keys(dates)
    for (let i = 0; i < tickets.length; i++) {
      if (today_date < dates[tickets[i]].date) expiry = dates[tickets[i]]
      if (expiry) break;
    }
    return expiry
  }

  function getDayDifference (firstDate, secondDate) {
    const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
    const diff = Math.floor(Math.abs((firstDate - secondDate) / oneDay));
    // console.log('DIFFERENCE', firstDate, secondDate, diff)
    return diff < 14 ? true : false
  }

  // Update the count down every 1 second
  var x = setInterval(function () {

    // Get todays date and time
    var now = new Date().getTime();

    // get the expiry time
    let expiryDate = getExpiryDate()
    let expiry = expiryDate.date.getTime();

    // console.log('expiryDate', expiryDate)
    // console.log('now', now)

    // if the expiry is within two weeks
    if (expiryDate && getDayDifference(expiryDate.date, now)) {

      var leftTime = expiry - now; //Now i am passing the left time from controller itself which handles timezone stuff (UTC), just to simply question i used harcoded values.
      var duration = moment.duration(leftTime);
  
      // get the value to show
      var value = ''
      var dayWord = duration.days() != 1 ? 'days' : 'day'
      var hourWord = duration.hours() != 1 ? 'hours' : 'hour'
      var minuteWord = duration.minutes() != 1 ? 'minutes' : 'minute'
      var secondWord = duration.seconds() != 1 ? 'seconds' : 'second'
      if (duration.days() > 5) {
        value += duration.days() + ' ' + dayWord
      }
      else if (duration.days() <= 5 && duration.days() > 0) {
        value += duration.days() + ' ' + dayWord + ', ' + duration.hours() + ' ' + hourWord + ' and ' + duration.minutes() + ' ' + minuteWord
      }
      else if (duration.hours() > 0) {
        value += duration.hours() + ' ' + hourWord + ', ' + duration.minutes() + ' ' + minuteWord + ' and ' + duration.seconds() + ' ' + secondWord
      }
      else {
        value += duration.minutes() + ' ' + minuteWord + ' and ' + duration.seconds() + ' ' + secondWord
      }
  
      // trim if first char = '.'
      // let post = "{{include.text.post}}"
      // // console.log(post.length)
      // if (post.length === 0 || post.charAt(1) === '.') {
      //   value += post
      // }
      // else {
      //   value += " "  + post
      // }
  
      let text = expiryDate.pre + value + expiryDate.post
      // let text = ''
      // if (expiry && expiry !== flashsalestart.getTime()) {
      //   // text = '<div class="alert alert-danger" role="alert">'
      //   if (expiry === flashsaleend.getTime()) {
      //     text += '<div class="alert alert-danger" role="alert">Sign up to get 50% off your UXDX 2020 ticket. Sale starts in ' + value
      //   } else {
      //     text += '<div class="alert alert-info" role="alert">Prices increase in ' + value
      //   }
      //   text += ' - <strong><a href="{{ site.baseurl }}/tickets">book now</a></strong> to avoid missing out on Europe\'s largest Product event.</div>'
      // }
      // else if (expiry === flashsalestart.getTime()) {
      //   text = '<div class="alert alert-danger" role="alert">'
      //   text += 'Our <b>50%</b> sale starts in ' + value + '. Leave your email below to avoid missing out on Europe\'s largest product event.</div>'
      // }
      
      // put the text into the header
  
      if (expiry !== dates.late.date.getTime()) {
        var elementArray = document.getElementsByClassName("countdown-timer");
        for (var i = 0; i < elementArray.length; i++) {
          elementArray[i].innerHTML = text
        }
      }
    }
  }, 1000);

</script>