<div class="horizontal-content container">
  <div class="d-flex flex-row container-row">
    <div class="p-1 horizontal-image {% if include.item.equal_image_ratio %} equal_image_ratio {% endif %}">
      {% if include.item.image_type.size > 0 %}
      <div class="img-holder">
        <img class="feature-img" src="{{include.item.image[0].url}}" alt="{{include.item.image[0].description}}">
      </div>
      {% else %}
      <img class="horizontal-card-image" src="{{include.item.image[0].url}}" alt="{{include.item.image[0].description}}"> {% endif %}
    </div>
    <div class="px-2 {% if include.item.equal_image_ratio %} equal_image_ratio {% endif %}">
      <h4 class="card-title">{{include.item.title}}</h4>
      <p class="card-text">{{include.item.description}}</p>
       {% if include.item.button %} {% include components/button.html button=include.item.button %} {% endif %}
    </div>
  </div>
</div>


