<button id="google">Google</button>
<button id="facebook">Facebook</button>
<!-- <form id="signup">
  Signup
  <input name="email" type="email" value="" />
  <input name="password" type="password" value="" />
  <button type="submit">Sign Up</button>
</form>

<form id="login">
  Login
  <input name="email" type="email" value="" />
  <input name="password" type="password" value="" />
  <button type="submit">Sign Up</button>
</form>

<form id="forgot">
  Forgot
  <input name="email" type="email" value="" />
  <button type="submit">Sign Up</button>
</form> -->


<button>LinkedIn</button>