<h2>The differences between Projects and Products</h2>
<div class="product-project-comparison-table">
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell header"></div>
        <div class="product-project-comparison project-cell header">
            Project
            <img src="{{ site.baseurl }}/images/project.svg">
        </div>
        <div class="product-project-comparison product-cell header">
            Product
            <img src="{{ site.baseurl }}/images/product.svg">
        </div>
    </div>
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell">Definition of Success</div>
        <div class="product-project-comparison project-cell">
            <h3><span class="delivery-category">Project: </span>Predictability</h3>
            <p>Adherence to Time and Cost estimates based on detailed requirements and detailed solution designs completed at the start of the project. </p>
            <p>Requires strict process to control scope / assumptions. Scope changes, regardless of importance, are to be minimised. </p>
        </div>
        <div class="product-project-comparison product-cell">
            <h3><span class="delivery-category">Product: </span>Outcomes delivered</h3>
            <p> Value delivered to the business. Recognises that nobody can know all the answers upfront when building a product so scope needs to be flexible in order to deliver the best results. </p>
            <p> Requires alignment on the organisational goals, the product goals and the process goals to enable change throughout delivery. </p>
        </div>
    </div>
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell">Efficiency</div>
        <div class="product-project-comparison project-cell">
            <h3><span class="delivery-category">Project: </span>High utilisation of people</h3>
            <p>People are only temporarily on projects. Different functions are required at different stages in the project so the key is certainty of scope at each stage boundary.</p>
            <p>Requires larger batch sizes so that people are on projects for longer to minimise movement of people between projects / downtime.</p>
        </div>
        <div class="product-project-comparison product-cell">
            <h3><span class="delivery-category">Product: </span>Low Lead Time for Changes</h3>
            <p>The delivery efficiency of the team as a whole is more important than individual utilisation. Counter-intuitively this can mean lower utilisation for individuals - people need slack to handle unexpected work.</p>
            <p>Requires small batch sizes so that lead time can be minimised. Low batch sizes call for a reduction in handovers so team needs to be more cross functional over time. </p>
        </div>
    </div>
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell">Team</div>
        <div class="product-project-comparison project-cell">
            <h3><span class="delivery-category">Project: </span>Temporary</h3>
            <p>People assigned by functions temporarily to projects until scope is delivered.</p>
            <p>Requires consistent processes across all projects so that people can move between projects with minimal impact. </p>
        </div>
        <div class="product-project-comparison product-cell">
            <h3><span class="delivery-category">Product: </span>Long Lived</h3>
            <p>Dedicated cross-functional people working together as a team throughout the life of the product.</p>
            <p>Requires deep specialisation knowledge and bespoke processes that suit the needs of the team. </p>
        </div>
    </div>
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell">Funding</div>
        <div class="product-project-comparison project-cell">
            <h3><span class="delivery-category">Project: </span>Scope Based</h3>
            <p>Funding is tied to the scope of the project. Scope justification is based on expected benefits.</p>
            <p>Requires an ability to report on the benefits realised. </p>
        </div>
        <div class="product-project-comparison product-cell">
            <h3><span class="delivery-category">Product: </span>Team Based</h3>
            <p>Funding is calculated based on the size for the team. Team justification is based on expected benefits.</p>
            <p>Requires an ability to report continuously on benefits realised.</p>
        </div>
    </div>
    <div class="product-project-comparison-row">
        <div class="product-project-comparison category-cell">Change</div>
        <div class="product-project-comparison project-cell">
            <h3><span class="delivery-category">Project: </span>Organisation is Responsible</h3>
            <p>Change projects run to roll changes out across an organisation. Managed by central change program and prioritisation at an executive level. </p>
            <p>Requires reporting and prioritisation process for changes.</p>
            <p class="highlight">Change happens to people.</p>
        </div>
        <div class="product-project-comparison product-cell">
            <h3><span class="delivery-category">Product: </span>Teams are Responsible</h3>
            <p>Team own and are responsible for process and code, continual optimisation is part of the way the team works. </p>
            <p>Requires autonomy to make changes within the team.</p>
            <p class="highlight">People change.</p>
        </div>
    </div>
</div>