<!-- JUMBOTRON -->
{% if section.jumbotron.size > 0 %}
{% assign jumbotron = section.jumbotron[0] %}
  {% include components/jumbotron.html item=jumbotron %}
{% else %}

<div class="section 
  {{section.codename}}
  
  {% if section.questions.size > 0 %} questions-section
  {% elsif section.cards.size > 0 %} cards-section 
  {% elsif section.training_cards.size > 0 %} cards-section 
  {% elsif section.testimonials.size > 0 %} testimonials-section 
  {% elsif section.ticket_widget.size > 0 %} tickets-section
  {% elsif section.buttons___widget.size > 0 %} buttons-section 
  {% elsif section.stats.size > 0 %} stats-section 
  {% elsif section.data.size > 0 %} data-section 
  {% elsif section.image_rows.size > 0 %} image_rows-section 
  {% elsif section.form.size > 0 %} forms-section 
  {% elsif section.agenda.size > 0 %} agenda-section 
  {% elsif section.blog_list.size > 0 %} blog-list-section 
  {% elsif section.video_playlist.size > 0 %} video_playlist-section {% endif %}
  
  colour_{{section.colour}}">

  {% if section.image_rows.size == 0 %}
  <div class="container">
    <h2>
      {% if section.title2.size > 11 %}
        <!-- title 2 is the rich text version -->
        {{section.title2}}
      {% else %}
        {{section.title}}
      {% endif %}
    </h2>
  {% endif %}

  <div class="section-content">
    <!-- SECTION CONTENT - If there is text. 12 is the default empty p that is generated so great tehn 12 means content exists -->
    {% if section.content.size > 12 %}
      {{section.content}} 
    {% endif %}

  
    <!-- Questions -->
    {% if section.questions.size > 0 %}
    <div class="d-flex justify-content-around flex-wrap questions">
      {% assign size = section.questions.size %}
      {% for question in section.questions %}
        <div class="question">
          <p>
            {{question.question}}
          </p>
        </div>
      {% endfor %}
    </div>
    {% endif %} 

    <!-- CARDS -->
    {% if section.cards.size > 0 %}
    <div class="d-flex justify-content-around flex-wrap">
      {% assign size = section.cards.size %}
      {% for card in section.cards %}
      {% if card.type_of_card == 'Modal' %}
      <!--MAKE MODAL FLAG-->
      {% include components/modalCard.html card=card cards-size=size %}
      {% else %}
      {% include components/card.html card=card cards-size=size %}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <!-- TRAINING CARDS -->
    {% if section.training_cards.size > 0 %}
    <div class="d-flex justify-content-around flex-wrap">
      {% assign size = section.training_cards.size %}
      {% for card in section.training_cards %}
        {% include components/trainingCard.html card=card cards-size=size %}
      {% endfor %}
    </div>
    {% endif %} 

    <!-- TESTIMONIALS -->
    {% if section.testimonials.size > 0 %}
    <div class="quotes">
      <i class="fas fa-quote-left fa-3x" aria-hidden="true"></i>
    </div>
    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for tesimonial in section.testimonials %}
        <li data-target="#testimonialCarousel" data-slide-to="{{forloop.index0}}" class="{% if forloop.first == true %}active{% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner d-flex">
        {% for testimonial in section.testimonials %}
        <div class="carousel-item {% if forloop.first == true %}active{% endif %} align-self-stretch">
          <div class="client-description text-center">
            <h5>{{testimonial.quote}}</h5>
          </div>
          <div class="client-name text-center">
            <p>{{testimonial.source}}</p>
            <img src="{{testimonial.company_logo[0].url}}" alt="{{testimonial.source}}" class="testimonial-logo">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}


    <!-- TICKET WIDGET -->
    {% if section.ticket_widget.size > 0 %}
      {% include components/ticketsCards.html %}
    {% endif %}

    <!-- STATS -->
    {% if section.stats.size > 0 %}
    <div class="d-flex justify-content-around flex-wrap">
    {% for stat in section.stats %}
      <div class="stat align-self-stretch">
        <h3>{{stat.stat_number}}</h3>
        <p class="lead">{{stat.stat_description}}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- DATA -->
    {% if section.data.size > 0 %}
    {% assign dataType = section.data[0] %}
    <div class="d-flex justify-content-around flex-wrap {{dataType.display_format}}">
      {% assign items = site.data[dataType.data_2d13f0f] %}
      
      {% if dataType.sort_06c03ca.size > 2 %}
        {% assign items = site.data[dataType.data_2d13f0f] | sort:dataType.sort_06c03ca,"last" %} 
      {% else %}
        {% assign items = site.data[dataType.data_2d13f0f]%}
      {% endif %}

      {% assign lowercase_filter = dataType.filter_value | downcase %}
      
      {% for item in items %}
      {% if dataType.filter_field_300372b.size > 3 %}
        {% if item[dataType.filter_field_300372b] contains lowercase_filter %}
            {% include components/{{dataType.template_aefaf3b}} item=item %}
          {% endif %}
        {% else %}
          {% include components/{{dataType.template_aefaf3b}} item=item %} 
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <!-- IMAGE ROWS -->
    {% if section.image_rows.size > 0 %}
    <div class="section-fullwidth">
      {% for imageRow in section.image_rows %}
      <div class="d-flex">
        {% for image in imageRow.image %}
        <div class="image-flex {{image.class}}">
          <img src="{{image.image[0].url}}" alt="{{image.image[0].description}}"> 
        </div>
        {% endfor %}
      </div> 
      {% endfor %}
    </div>
    {% endif %}

    <!-- FORMS -->
    {% if section.form.size > 0 %} 
      {% assign form = section.form[0].form_name | append: '.html' | prepend: 'forms/' %}
      {% include {{form}} %}
    {% endif %}

    <!-- MAPS -->
    {% if section.map.size > 0 %} 
      {% assign map = section.map[0] %} 
      {% include components/map.html map=map %}
    {% endif %}
    
    <!-- AGENDA -->
    {% if section.agenda.size > 0 %}
      {% assign agenda = site.data.agendas | where:"codename",section.agenda[0].codename %}
      {% assign agenda = agenda[0] %}
      {% include components/agenda.html agenda=agenda %}
    {% endif %}

    <!-- VIDEO PLAYLISTS -->
    {% if section.video_playlist.size > 0 %}
    <div class="d-flex justify-content-around flex-wrap">
      {% for playlist in section.video_playlist %}
      <div id="ypt_wrapper">
        <div class="video">
          <div id="player" data-pl="{{playlist.playlist_id}}"></div>
        </div>
        <ul id="ypt_thumbs"></ul>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- HORIZONTAL CONTENT -->
   {% if section.horizontal_content.size > 0 %} 
   {% for horizontal_content in section.horizontal_content %}
    {% include components/horizontalCard.html item=horizontal_content %}
   {% endfor %}
   {% endif %}

    <!-- BUTTONS -->
    {% if section.buttons___widget.size > 0 %}
    {% for button in section.buttons___widget %}
    {% include components/button.html button=button %}
    {% endfor %}
    {% endif %}

    <!-- BLOG LIST CONTENT -->
    {% if section.blog_list.size > 0 %} 
    {% for blog_list in section.blog_list %}
      {% include components/blog-list.html item=blog_list %}
    {% endfor %}
    {% endif %} 

    {% if section.image_rows.size == 0 %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}