<div class="staff-box align-self-stretch">
  <div class="container py-3">
    <div class="flex-row d-flex">
      <div class="py-1">
        <div class="img-holder">
          <img class="speaker-img" src="{{include.staff.profile_photo[0].url}}" alt="{{include.staff.first_name}}">
        </div>
      </div>
      <div class="px-3">
        <div class="card-block px-3">
          <h4 class="card-title">{{include.staff.first_name}}</h4>
          <p class="card-text">{{include.staff.bio}}</p>
        </div>
      </div>
    </div>
  </div>
</div>