
<script type="application/javascript">

  function getConfDetails() {
    const today_date = Date.now()
    const first200 = new Date(2020, 4, 2, 23, 59, 59)
    const initialRelease = new Date(2020, 5, 6, 23, 59, 59)
    const superEarly = new Date(2020, 6, 4, 23, 59, 59)
    const early = new Date(2020, 6, 25, 23, 59, 59)
    const mid = new Date(2020, 7, 15, 23, 59, 59)
    const regular = new Date(2020, 8, 5, 23, 59, 59)
    const late = new Date(2020, 9, 7, 23, 59, 59)
    const lastMinute = new Date(2020, 9, 9, 23, 59, 59)
    
    const confTickets = ['first200', 'initialRelease', 'superEarly', 'early', 'mid', 'regular', 'late', 'lastMinute']
    const confDetails = {
      first200: {
        confRelease: 'february-launch',
        confPrice: 495,
        execRelease: 'doh-f5v3uua',
        execPrice: 2995,
        ticketTitle: "February Launch",
        ticketSubTitle: "14th February Only",
      },
      initialRelease: {
        confRelease: 'q510lz79t4q',
        confPrice: 995,
        execRelease: 'executive-first-200-copy',
        execPrice: 3095,
        ticketTitle: "Initial Release",
        ticketSubTitle: "Get your tickets early before prices increase!",
      },
      superEarly: {
        confRelease: 'kchd6kqhtha',
        confPrice: 695,
        execRelease: 'executive-initial-release-copy',
        execPrice: 3195,
        ticketTitle: "Super Early",
        ticketSubTitle: "Get your tickets early before prices increase!",
      },
      early: {
        confRelease: '5g-jx-fyrhk',
        confPrice: 795,
        execRelease: 'executive-super-early-copy',
        execPrice: 3295,
        ticketTitle: "Early",
        ticketSubTitle: "Get your tickets early before prices increase!",
      },
      mid: {
        confRelease: 'lbmjy67nu8',
        confPrice: 895,
        execRelease: 'executive-early-copy',
        execPrice: 3395,
        ticketTitle: "Mid",
        ticketSubTitle: "UXDX conference and workshop access",
      },
      regular: {
        confRelease: 'mid-copy',
        confPrice: 995,
        execRelease: 'executive-mid-copy',
        execPrice: 3495,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and workshop access",
      },
      late: {
        confRelease: '6chismpqzoa',
        confPrice: 1095,
        execRelease: 'executive-regular-copy',
        execPrice: 3595,
        ticketTitle: "Late",
        ticketSubTitle: "UXDX conference and workshop access",
      },
      lastMinute: {
        confRelease: 'rihixk7knry',
        confPrice: 1295,
        execRelease: 'executive-late-copy',
        execPrice: 3795,
        ticketTitle: "Last Minute",
        ticketSubTitle: "UXDX conference and workshop access",
      }
    }

    let expired = false, sale
    if (today_date < first200) { sale = "first200" }
    else if (today_date < initialRelease) { sale = "initialRelease" }
    else if (today_date < superEarly) { sale = "superEarly" }
    else if (today_date < early) { sale = "early" }
    else if (today_date < mid) { sale = "mid" }
    else if (today_date < regular) { sale = "regular" }
    else if (today_date < late) { sale = "late" }
    else if (today_date < lastMinute) { sale = "lastMinute" }
    else expired = true

    // return confDetails[sale]
    const position = confTickets.indexOf(sale)
    const next = confTickets[position + 1]
    let lateTicket = position < confTickets.indexOf('regular') ? 'regular': 'lastMinute'
    if (lateTicket === next || lateTicket === sale) lateTicket = null
    // if (next === sale) next = null


    let details = {
      current: confDetails[sale], 
      next: confDetails[next],
      late: confDetails[lateTicket]
    }
    console.log(details)
    return details
  }


  // get the expiry time
  let details = getConfDetails();

  document.addEventListener("DOMContentLoaded", function (event) {
    var ticketTitle = document.getElementById("ticket-title");
    ticketTitle.innerHTML = details.current.ticketTitle;
    var ticketSubTitle = document.getElementById("ticket-sub-title");
    ticketSubTitle.innerHTML = details.current.ticketSubTitle;
    
    var conferencePrice = document.getElementById("conference-price");
    conferencePrice.innerHTML = "€" + details.current.confPrice.toLocaleString();
    var conferenceVATPrice = document.getElementById("conference-vat-price");
    // conferenceVATPrice.innerHTML = "€" + Math.round(details.current.confPrice/1.23, 2).toLocaleString() + " ex VAT"
    conferenceVATPrice.innerHTML = "€" + Math.round(details.current.confPrice * 1.23, 2).toLocaleString() + " inc VAT"
    
    var execPrice = document.getElementById("exec-price");
    execPrice.innerHTML = "€" + details.current.execPrice.toLocaleString();
    var execVATPrice = document.getElementById("exec-vat-price");
    // execVATPrice.innerHTML = "€" + Math.round(details.current.execPrice/1.23, 2).toLocaleString() + " ex VAT"
    execVATPrice.innerHTML = "€" + Math.round(details.current.execPrice * 1.23, 2).toLocaleString() + " inc VAT"

      
    // if (details.late) {
    //   var nextName = document.getElementById("ticket-next-name");
    //   nextName.innerHTML = details.next.ticketTitle;
    //   var nextPrice = document.getElementById("ticket-next-price");
    //   nextPrice.innerHTML = "€" + details.next.confPrice.toLocaleString();

    //   var nextExecName = document.getElementById("ticket-next-exec-name");
    //   nextExecName.innerHTML = details.next.ticketTitle;
    //   var nextExecPrice = document.getElementById("ticket-next-exec-price");
    //   nextExecPrice.innerHTML = "€" + details.next.execPrice.toLocaleString();
    // } else {
    //   var nextElement = document.getElementById("ticket-next");
    //   elem.parentNode.removeChild(nextElement);
    //   var nextExecElement = document.getElementById("ticket-next-exec");
    //   elem.parentNode.removeChild(nextExecElement);
    // }

    if (details.late) {
      var lastName = document.getElementById("ticket-last-name");
      lastName.innerHTML = details.late.ticketTitle;
      var lastPrice = document.getElementById("ticket-last-price");
      lastPrice.innerHTML = "€" + details.late.confPrice.toLocaleString();

      var lastExecName = document.getElementById("ticket-last-exec-name");
      lastExecName.innerHTML = details.late.ticketTitle;
      var lastExecPrice = document.getElementById("ticket-last-exec-price");
      lastExecPrice.innerHTML = "€" + details.late.execPrice.toLocaleString();
    } else {
      var lastElement = document.getElementById("ticket-last");
      elem.parentNode.removeChild(lastElement);
    }

    // TODO: fix this as it loads too late
    var conferenceRelease = document.getElementById("conference-release");
    conferenceRelease.setAttribute("releases", details.current.confRelease);
    var execRelease = document.getElementById("exec-release");
    execRelease.setAttribute("releases", details.current.execRelease);

  });

</script>

<div class="tab-content clearfix">
  <div class="tab-pane active fade show d-flex justify-content-around flex-wrap" id="tickets-individual-freelance"
    aria-labelledby="tickets-individuals" role="tabpanel">
    <!-- <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Freelance / Startup</h3>
        <p class="small text-light">A helping hand for those starting up</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title">Sold Out</h2>
          <h2 class="card-title">€200</h2>
          <h6 class="card-subtitle text-muted font-weight-light">€162.60 ex VAT</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <span class="small text-muted">Special discounted rate for full time freelancers or for companies with less than 8 employees and less than 3 years old.</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 40+ talks</li>
          <li class="list-group-item small">UX / Dev / Product workshops</li>
          <li class="list-group-item small">Network with 2,000 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Chat support </li>
          <li class="list-group-item small">* See eligibility FAQ below </li>
        </ul>

      </div>
      <a href="https://ti.to/initiate/europe-2020/with/freelancer-startup" class="btn tito-tickets-button" id="book-now-freelancer"
        target="_blank" onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Freelancer Ticket Book Now'});">Book Now</a>
      <button class="btn">Sold Out</button>
      <tito-button event="initiate/europe-2020"  releases="freelancer-startup" onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Freelancer Ticket Book Now'});">Book Now</tito-button>
    </div> -->
    <div class="card ticket-card">
      <!-- <div class="most-popular-header">
        Most Popular
      </div> -->
      <div class="card-header">
        <h3 class="text-white" id="ticket-title"></h3>
        <p class="small text-light" id="ticket-sub-title"></p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title" id="conference-price"></h2>
          <h6 class="card-subtitle text-muted font-weight-light" id="conference-vat-price"></h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <!-- <div id="ticket-next">
            <span class="small text-muted" id="ticket-next-name"></span>
            <br>
            <h4 class="font-weight-light" id="ticket-next-price"></h4>
          </div> -->
          <div id="ticket-last">
            <span class="small text-muted" id="ticket-last-name"></span>
            <br>
            <h4 class="font-weight-light" id="ticket-last-price"></h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 40+ talks</li>
          <li class="list-group-item small">UX / Dev / Product workshops</li>
          <li class="list-group-item small">Network with 2,000 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and chat support </li>
        </ul>
        
      </div>
      <tito-button 
        event="initiate/europe-2020" 
        id="conference-release" 
        onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Regular Ticket Book Now'});">
          Book Now
      </tito-button>
      <!-- <a href="https://ti.to/initiate/europe-2020" class="btn tito-tickets-button" id="book-now-conf" target="_blank" 
      onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Regular Ticket Book Now'});">Book Now</a> -->
    </div>
    <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Executive</h3>
        <p class="small text-light">Exclusive access to VIP events</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <!-- <h2 class="card-title">Sold Out</h2> -->
          <h2 class="card-title" id="exec-price"></h2>
          <h6 class="card-subtitle text-muted font-weight-light" id="exec-vat-price"></h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <!-- <div id="ticket-next-exec">
            <span class="small text-muted" id="ticket-next-exec-name"></span>
            <br>
            <h4 class="font-weight-light" id="ticket-next-exec-price"></h4>
          </div> -->
          <div id="ticket-last-exec">
            <span class="small text-muted" id="ticket-last-exec-name"></span>
            <br>
            <h4 class="font-weight-light" id="ticket-last-exec-price"></h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 40+ talks</li>
          <li class="list-group-item small">UX / Dev / Product workshops</li>
          <li class="list-group-item small">Network with 2,000 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and chat support </li>
          <li class="list-group-item small">Speaker dinner</li>
          <li class="list-group-item small">VIP activities</li>
        </ul>

      </div>
      <!-- <a href="https://ti.to/initiate/europe-2020/with/doh-f5v3uua" class="btn tito-tickets-button" id="book-now-executive"
        target="_blank" onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Executive Ticket Book Now'});">Book Now</a> -->
      <!-- <button class="btn">Sold Out</button> -->
      <tito-button 
        event="initiate/europe-2020" 
        releases="doh-f5v3uua" 
        onClick="gtag('event', 'click', { event_category: 'ecommerce', event_action: 'click', event_label: 'Executive Ticket Book Now'});">
          Book Now
      </tito-button>
    </div>
  </div>
</div>
