<script type="application/javascript">

  function getConfDetails() {

    const today_date = Date.now()
    const first200 = new Date(2019, 1, 15, 00, 00, 00)
    const super_early = new Date(2019, 4, 31, 23, 59, 59)
    const early = new Date(2019, 5, 14, 23, 59, 59)
    const regular1 = new Date(2019, 5, 28, 23, 59, 59)
    const regular2 = new Date(2019, 6, 12, 23, 59, 59)
    const regular3 = new Date(2019, 6, 26, 23, 59, 59)
    const regular4 = new Date(2019, 7, 9, 23, 59, 59)
    const regular5 = new Date(2019, 7, 23, 23, 59, 59)
    const regular6 = new Date(2019, 8, 06, 23, 59, 59)
    const regular7 = new Date(2019, 8, 20, 23, 59, 59)
    const regular8 = new Date(2019, 9, 1, 23, 59, 59)
    const late = new Date(2019, 9, 4, 23, 59, 59)

    const confDetails = {
      first200: {
        confRelease: '8rwzkcjklyg',
        confPrice: 450,
        ticketTitle: "First release",
        ticketSubTitle: "Limited to 200 tickets",
      },
      super_early: {
        confRelease: 'thhyf5i-azy',
        confPrice: 540,
        ticketTitle: "Super Early",
        ticketSubTitle: "Get your tickets early before prices increase!",
      },
      early: {
        confRelease: 'gdu4jqzgbsw',
        confPrice: 595,
        ticketTitle: "Early",
        ticketSubTitle: "Get your tickets early before prices increase!",
      },
      regular1: {
        confRelease: '4fbcwejjcgq',
        confPrice: 650,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular2: {
        confRelease: 'trzlkplnzio',
        confPrice: 680,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular3: {
        confRelease: 'jouwgqjsk6q',
        confPrice: 695,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular4: {
        confRelease: '8qwq-tizz-m',
        confPrice: 750,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular5: {
        confRelease: 'whnmhgjnqhe',
        confPrice: 800,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular6: {
        confRelease: 'n70vu0ytsra',
        confPrice: 850,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular7: {
        confRelease: 'lly0r5e4sbm',
        confPrice: 900,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      regular8: {
        confRelease: 'u60z5ubthzg',
        confPrice: 999,
        ticketTitle: "Regular",
        ticketSubTitle: "UXDX conference and training access",
      },
      late: {
        confRelease: '5e3k5s0euw0',
        confPrice: 1350,
        ticketTitle: "Late",
        ticketSubTitle: "Last minute access to UXDX",
      }
    }

    let expired = false, sale
    if (today_date < first200) { sale = "first200" }
    else if (today_date < super_early) { sale = "super_early" }
    else if (today_date < early) { sale = "early" }
    else if (today_date < regular1) { sale = "regular1" }
    else if (today_date < regular2) { sale = "regular2" }
    else if (today_date < regular3) { sale = "regular3" }
    else if (today_date < regular4) { sale = "regular4" }
    else if (today_date < regular5) { sale = "regular5" }
    else if (today_date < regular6) { sale = "regular6" }
    else if (today_date < regular7) { sale = "regular7" }
    else if (today_date < regular8) { sale = "regular8" }
    else if (today_date < late) { sale = "late" }
    else expired = true

    console.log(sale)
    console.log(confDetails[sale])

    return confDetails[sale]
  }


  // get the expiry time
  let details = getConfDetails();

  // window.onload = function () {

  //   var conferencePrice = document.getElementById("conference-price");
  //   conferencePrice.innerHTML = "€" + details.confPrice;

  //   var conferenceRelease = document.getElementById("conference-release");
  //   conferenceRelease.setAttribute("releases", details.confRelease);

  //   var conferenceTrainingPrice = document.getElementById("conference-training-price");

  //   var conferenceTrainingRelease = document.getElementById("conference-training-release");
  // }

  document.addEventListener("DOMContentLoaded", function (event) {
    var conferencePrice = document.getElementById("conference-price");
    conferencePrice.innerHTML = "€" + details.confPrice;

      
    var ticketTitle = document.getElementById("ticket-title");
    ticketTitle.innerHTML = details.ticketTitle;
    var ticketSubTitle = document.getElementById("ticket-sub-title");
    ticketSubTitle.innerHTML = details.ticketSubTitle;

    var conferenceRelease = document.getElementById("book-now-conf");
    conferenceRelease.setAttribute("href", "https://ti.to/initiate/uxdx-2019/with/" + details.confRelease);

    // var loadWidgetWithFallback = function (e) {
    //   e.preventDefault()

    //   console.log('here1')
    //   if (TitoWidget.modern_and_not_mobile() && this.overlay_enabled()) {
    //     this.load();
    //     console.log('here')
    //   }
    //   else {
    //     open(this.fallback_url())
    //   };
    // }

    // Tito.instance('initiate/uxdx18', {
    //   releases: details.confRelease,
    //   success: function (widget) {
    //     document.getElementById('book-now-conf').onclick = loadWidgetWithFallback.bind(widget);
    //     return false;
    //   }
    // });
    // Tito.instance('initiate/uxdx18', {
    //   success: function (widget) {
    //     document.getElementById('book-now-conf-training').onclick = loadWidgetWithFallback.bind(widget);
    //     return false;
    //   }
    // });
  });

</script>

<div class="tab-content clearfix">
  <div class="tab-pane active fade show d-flex justify-content-around flex-wrap" id="tickets-individual-freelance"
    aria-labelledby="tickets-individuals" role="tabpanel">
    <div class="card ticket-card ticket-most-popular">
      <div class="most-popular-header">
        Most Popular
      </div>
      <div class="card-header">
        <h3 class="text-white" id="ticket-title"></h3>
        <p class="small text-light" id="ticket-sub-title"></p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title" id="conference-price"></h2>
          <h6 class="card-subtitle text-muted font-weight-light">Ex VAT at 23%</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <div>
            <span class="small text-muted">Regular</span>
            <br>
            <h4 class="font-weight-light">€999</h4>
          </div>
          <div>
            <span class="small text-muted">Late</span>
            <br>
            <h4 class="font-weight-light">€1,350</h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 40+ talks</li>
          <li class="list-group-item small">UX / Dev / Product training</li>
          <li class="list-group-item small">Network with 2,000 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and chat support </li>
        </ul>
        
      </div>
      <!-- <tito-button event="initiate/uxdx18" id="conference-release">Book Now</tito-button> -->
      <a href="https://ti.to/initiate/uxdx-2019" class="btn tito-tickets-button" id="book-now-conf" target="_blank">Book Now</a>
    </div>
    <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Executive</h3>
        <p class="small text-light">Includes exclusive networking events</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <!-- <h2 class="card-title">Sold Out</h2> -->
          <h2 class="card-title">€2,495</h2>
          <h6 class="card-subtitle text-muted font-weight-light">Ex VAT at 23%</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <span class="small text-muted">Limited release, first come, first served</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 40+ talks</li>
          <li class="list-group-item small">UX / Dev / Product training</li>
          <li class="list-group-item small">Network with 2,000 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and chat support </li>
          <li class="list-group-item small">Speaker dinner</li>
          <li class="list-group-item small">VIP activities</li>
        </ul>

      </div>
      <a href="https://ti.to/initiate/uxdx-2019/with/g6valw-vdjs" class="btn tito-tickets-button" id="book-now-executive"
        target="_blank">Book Now</a>
      <!-- <button class="btn">Sold Out</button> -->
    </div>
  </div>
</div>