<!-- <ul class="nav nav-pills d-flex justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#tickets-individual" data-toggle="tab" role="tab" aria-controls="tickets-individual" aria-selected="true">Individuals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tickets-teams" data-toggle="tab" role="tab" aria-controls="tickets-teams" aria-selected="false">Teams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tickets-exhibition" data-toggle="tab" role="tab" aria-controls="tickets-exhibition" aria-selected="false">Link</a>
  </li>
</ul> -->

<div class="tab-content clearfix">
  <div class="tab-pane active fade show d-flex justify-content-around flex-wrap" id="tickets-individual" aria-labelledby="tickets-individuals"
    role="tabpanel">
    <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Conference</h3>
        <p class="small text-light">4 - 5 October</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title" id="conference-price"></h2>
          <h6 class="card-subtitle text-muted font-weight-light">Ex VAT at 23%</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <div>
            <span class="small text-muted">Regular</span>
            <br>
            <h4 class="font-weight-light">€770</h4>
          </div>
          <div>
            <span class="small text-muted">Late</span>
            <br>
            <h4 class="font-weight-light">€850</h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 30+ talks</li>
          <li class="list-group-item small">Network with 1400 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and email support </li>
        </ul>

      </div>
      <tito-button event="initiate/uxdx18" id="conference-release">Book Now</tito-button>
    </div>
    <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Conference + Training</h3>
        <p class="small text-light">3 - 5 October</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title" id="conference-training-price"></h2>
          <h6 class="card-subtitle text-muted font-weight-light">Ex VAT at 23%</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details">
          <div>
            <span class="small text-muted">Regular</span>
            <br>
            <h4 class="font-weight-light">€1,250</h4>
          </div>
          <div>
            <span class="small text-muted">Late</span>
            <br>
            <h4 class="font-weight-light">€1,375</h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 30+ talks</li>
          <li class="list-group-item small">Network with 1400 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and email support </li>
          <li class="list-group-item small">Hands-on specialised training</li>
        </ul>

      </div>
      <tito-button event="initiate/uxdx18" id="conference-training-release">Book Now</tito-button>
    </div>
    <div class="card ticket-card">
      <div class="card-header">
        <h3 class="text-white">Executive</h3>
        <p class="small text-light">4 - 5 October</p>

      </div>
      <div class="card-body">
        <div class="text-center">
          <h2 class="card-title">€2,495</h2>
          <h6 class="card-subtitle text-muted font-weight-light">Ex VAT at 23%</h6>
        </div>
        <hr>
        <div class="d-flex justify-content-around ticket-details align-items-center">
          <span class="small text-muted">Limited release</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small">2 days / 30+ talks</li>
          <li class="list-group-item small">Network with 1400 attendees </li>
          <li class="list-group-item small">Lunch each day </li>
          <li class="list-group-item small">Dublin walking tour </li>
          <li class="list-group-item small">After party </li>
          <li class="list-group-item small">Phone and email support </li>
          <li class="list-group-item small">Speaker dinner</li>
          <li class="list-group-item small">VIP activities</li>
        </ul>

      </div>
      <tito-button event="initiate/uxdx18" releases="5kucuogkpbc">Book Now</tito-button>
    </div>
  </div>
  <!-- <div class="tab-pane fade d-flex justify-content-center" id="tickets-teams" aria-labelledby="tickets-teams" role="tabpanel">
    <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
  </div>
  <div class="tab-pane fade d-flex justify-content-center" id="tickets-exhibition" aria-labelledby="tickets-exhibition" role="tabpanel">
    <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
  </div> -->
</div>