<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

{% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %}

{% if pageContent[0].meta_description %}
<meta name="description" content="{{ pageContent[0].meta_description | strip_html }}" />
<meta property="og:description" content="{{ pageContent[0].meta_description | strip_html }}" />
<meta name="twitter:description" content="{{ pageContent[0].meta_description | strip_html }}">
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}
<meta name="og:image" content="{{ site.baseurl }}/images/UXDX-meta-80.jpg" />
<meta name="author" content="{{ site.name }}" />

{% if pageContent[0].meta_title %}
<meta property="og:title" content="{{ pageContent[0].meta_title }}" />
<meta name=”twitter:card” content=”summary_large_image”>
<meta property="twitter:title" content="{{ pageContent[0].meta_title }}" />
<meta name="twitter:image" content="{{ site.baseurl }}/images/UXDX-meta-80.jpg" />
{% endif %}