<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign pageContent = site.data.pages | where: "url_slug", page.url_slug %}
    <title>{% if pageContent[0].meta_title %}{{pageContent[0].meta_title}}{% else %}{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }} {% endif %}</title>

    {% include scripts/meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if page.canonical-url == nil %} 
      {% capture canonical %}{{ siteurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    {% else %} 
      {% assign canonical = page.canonical-url %} 
    {% endif %}
    <link rel="canonical" href="{{ canonical }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?{{site.time | date: '%s%N'}}" />
    <link rel="alternate" type="application/rss+xml" title="{% if pageContent[0].meta_title %}{{pageContent[0].meta_title}}{% else %}{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }} {% endif %}" href="{{ site.baseurl }}/feed.xml" />

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='d039d12ffa54dadf30c2f38d0fd69b0ed5b03dd15e731136e53bf8ba61c3ffb0';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
    
    <!-- <script src="{{ site.baseurl }}/assets/js/typing.js"></script> -->
    
    <!-- Google Tag Manager -->
    <!-- <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'      
}); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M9MJLPW');</script> -->
    <!-- End Google Tag Manager -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78423296-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('set', 'linker', {'domains': ['uxdx.com', 'ti.to']});
      gtag('js', new Date());

      gtag('config', 'UA-78423296-1');
    </script>

    <!-- End Google Analytics -->
    
    <!-- Crisp integration -->
    <script type="text/javascript">
      window.$crisp = []; 
      window.CRISP_WEBSITE_ID = "8d39cddd-9a5c-4a2c-8b08-8b404a966a53"; 
      (function () { d = document; s = d.createElement("script"); 
      s.src = "https://client.crisp.chat/l.js"; s.async = 1; 
      d.getElementsByTagName("head")[0].appendChild(s); })();
      
      $(document).ready(function () {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.navbar-nav > li > a[href="' + pathname + '"]').parent().addClass('active');
      })
    </script>
    <!-- End Crisp integration -->
    
    <!-- Facebook integration -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {          
          n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
      }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1081444315278926');
      fbq('track', "PageView");
      </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1081444315278926&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Facebook integration -->
    
    <!-- Mautic integration -->
    <script async type="text/javascript">
      (function (w, d, t, u, n, a, m) {
        w['MauticTrackingObject'] = n;
        w[n] = w[n] || function () { (w[n].q = w[n].q || []).push(arguments) }, a = d.createElement(t),
        m = d.getElementsByTagName(t)[0]; a.async = 1; a.src = u; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://mktg.sociallymotivated.com/mtc.js', 'mt');
      
      mt('send', 'pageview');
      </script>
    <script async type="text/javascript">
      /** This section is only needed once per page if manually copying **/
      if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://mktg.sociallymotivated.com/media/js/mautic-form.js';
        script.onload = function () {
          MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://mktg.sociallymotivated.com';
        var MauticLang = {
          'submittingMessage': "Please wait..."
        }
      }
      </script>
    <!-- End Mautic integration -->
    
    <!-- Hotjar integration -->
    <script type="text/javascript">
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1315716,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- End Hotjar integration -->

    <script src='https://js.tito.io/v1' async></script>

    
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9MJLPW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> -->
    <!-- End Google Tag Manager (noscript) -->

    
    {% if pageContent[0].conference[0].codename == "uxdx_2018" or pageContent[0].conference[0].codename == "uxdx_2019_93fa926" or pageContent[0].conference[0].codename == "uxdx_2019_0a0c6fc" %}
      {% include components/countdown.html %}
    {% endif %}
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a href="{{ site.baseurl }}/" class="navbar-brand">
        <img src="{{ site.baseurl }}/images/UXDX-White-NoLogoText-NoText.svg"  width="40" height="40" alt="UXDX"/>
      </a>
      
      <a class="navbar-brand" href="{{ site.baseurl }}/">UXDX</a>
      
      {% if pageContent[0].conference[0].codename == "uxdx_2018" or pageContent[0].conference[0].codename == "uxdx_2019_93fa926" or pageContent[0].conference[0].codename == "uxdx_2019_0a0c6fc" %}
      <div class="conference-details-header">
        <p class="conference-dates">October 7 - 8, 2019</p>
        <p class="conference-location">Dublin, Ireland</p>
      </div>
      {% endif %}
      
      
      {% if page.conference == nil %}
        {% assign confId = layout.conference %}
      {% else %}
        {% assign confId = page.conference %}
      {% endif %}
      {% assign conference = site.data.conferences | where: "id", confId %} 
      {% assign conference = conference[0] %}

      {% if conference.primary_menu[0].pages___buttons.size > 0 %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uxdxNav" aria-controls="uxdxNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% else %}
        <div></div>
      {% endif %}

    
      <div class="collapse navbar-collapse" id="uxdxNav">
        <ul class="navbar-nav ml-auto">
          {% for page in conference.primary_menu[0].pages___buttons %}  
          <li class="nav-item">
            {% if page.url_slug == 'tickets' %} 
              <a class="btn btn-light" href="{{ site.baseurl }}/{{page.url_slug}}">{{page.url_slug | capitalize}}</a>
            {% elsif page.url_link contains "https://ti.to/" %}
              <a class="btn btn-light" href="{{page.url_link}}">{{page.button_text}}</a>
            {% elsif page.url_slug %}
              {% if page.menu_title.size > 0 %}
                {% assign title = page.menu_title %}
              {% else %}
               {% assign title = page.url_slug | capitalize %}
              {% endif %}
              <a class="nav-link" href="{{ site.baseurl }}/{{page.url_slug}}">{{title}}</a>
            {% elsif page.tito_release.size > 1 %}
              <tito-button event="{{conference.tito_event}}" releases="{{page.tito_release}}">{{page.button_text}}</tito-button>
            {% else %}
              <a class="nav-link" href="{{page.url_link}}" target="_blank">{{page.button_text}}</a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    
    <main role="main">
      <!-- <div class="jumbotron" style="
        background: url('https://uxdxconf.com/images/kentico/9add54dd-a0a9-4cee-9658-d2cc9502e4c2/home-header.jpg') no-repeat center;
        background-size: cover;">
        <div class="container d-flex justify-content-center">
      
          <div class="header-logo-div">
            <img src="https://uxdxconf.com/images/kentico/8af35655-d60b-4476-8cd9-3006b1e8f405/UXDX-White-LogoText-NoText.svg"
              class="header-logo" alt="UXDX">
          </div>
      
          <div class="">
            <h1 class="display-5">It Takes a Team</h1>
            <h3 class="display-4">
              to build
              <span class="typewrite" data-period="2000" data-loops="1" data-type='[ "an awesome", "the world&apos;s best", "a market winning", "a successful" ]'>
                <span class="wrap"></span>
              </span>
              product
            </h3>
            <h5>7th&nbsp;- 8th&nbsp;October 2019 | RDS, Dublin, Ireland</h5>
            <p>Join us for two days of inspiring talks, innovative best practices, successful case studies and amazing networking.</p>
            <button class="btn btn-outline-light">Get your Tickets</button>
          </div>
        </div>
      </div> -->
      {{ content }}
    </main>

    {% include components/footer.html %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    {% include scripts/video-script.html %}
    {% include scripts/agenda_toggle.html %}
    
    <!-- <script type="text/javascript">

      // (1)
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/service-worker.js').then(function (reg) {
          if (!reg.installing) return;
          console.log("[*] ServiceWorker is installing...");

          var worker = reg.installing;

          worker.addEventListener('statechange', function () {
            if (worker.state == 'redundant') {
              console.log('[*] Install failed');
            }
            if (worker.state == 'installed') {
              console.log('[*] Install successful!');
            }
            // (2)
            if (worker.state == 'activated' && !navigator.serviceWorker.controller) {
              console.log('[*] SW activated!');
            }
          });
        });
      }
    </script> -->

  </body>
</html>
