--- 
layout: default 
---
<div class="container blog">
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <div class="meta">
      <span class="author">
        {%if page.author-href %}<a href="{{page.author-href}}">{% endif%}
          {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}
        {%if page.author-href %}</a>{% endif%}
      </span>
      |
      <span class="date"><time datetime="{{page.date|date:" %F "}}">{{page.date|date:"%b %d, %Y"}}</time></span>
      <!-- <span>
        <i class="far fa-calendar-alt"></i>
        <time datetime="{{page.date|date:" %F "}}">{{page.date|date:"%b %d, %Y"}}</time>
      </span>
      <br/>
      <span class="category">
        <i class="fas fa-tags"></i> {{ page.categories | category_links }}
      </span>
      <br/>
      <span class="author">
        <i class="far fa-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}
      </span> -->
    </div>
  </header>

  <div class="entry">{{ content }}</div>

  
  
</article>
</div>

<div class="section forms-section">
  <div class="container">
    <h2>
      Sign up to get notified about new articles
    </h2>
    {% include forms/newslettersignup.html %} 
  </div>
</div>