{% if include.name %} {% assign name = include.name %} {% else %} {% assign name = "discount" %} {% endif %}
{% if include.button_text %} {% assign button_text = include.button_text %} {% else %} {% assign button_text = "Join the Community" %} {% endif %}
<div id="form_{{name}}_div">
  <form role="form" method="post" action="https://9c863001.sibforms.com/serve/MUIEAB3AViqiLyxDq27wrZx0F5Q7yORMmlo4dAK0LrKKPX1bFh05W8Vl-5wydNViQIUA7Rz3L91HZb3hFPlm24N9da-lVvi71zqEjIZsAeci3JHDSNdYb4h0Pu_n9ZqFKL9yZ69fc_UwP3V7de6HAKaV8M487E233jTy-m92mg-bLmjn1EKvIjGz3FuXzepywv3otKJ0fo-vs3iv" id="form_{{name}}">
    <div class="alert alert-success" role="alert" id="uxdxform_{{name}}_error" style="display:none;">Looks like you're already subscribed - I like your eagerness to learn :) <p class="small">If this seems wrong could you let us know in the chat in the bottom right and we'll investigate</p></div>
    <div class="alert alert-success" role="alert" id="uxdxform_{{name}}_message" style="display:none;">You're all subscribed - you'll receive a confirmation email shortly.</div>
    <div class="form-content">

      <div class="form-row">
        <div id="uxdxform_{{name}}_first_name" class="form-group col-md-6" >
          <label id="uxdxform_label_{{name}}_first_name" for="uxdxform_input_{{name}}_first_name" class="uxdxform-label" style="display: none;">First Name</label>
          <input id="uxdxform_input_{{name}}_first_name" name="uxdxform[first_name]" value="" class="uxdxform-input form-control form-control-lg" type="text" placeholder="First Name" required/>
          <span class="uxdxform-errormsg" style="display: none;"></span>
        </div>

        <div id="uxdxform_{{name}}_email" class="form-group col-md-6" data-validate="email"
          data-validation-type="email">
          <label id="uxdxform_label_{{name}}_email" for="uxdxform_input_{{name}}_email" class="uxdxform-label" style="display: none;">Email</label>
          <input id="uxdxform_input_{{name}}_email" name="uxdxform[email]" value="" class="uxdxform-input form-control form-control-lg" type="email" placeholder="Email" required/>
        </div>
      </div>

      <div class="form-group">
        <div id="uxdxform_{{name}}_gdpr" class="form-check">
          <input id="uxdxform_input_{{name}}_gdpr" name="uxdxform[gdpr]" value="1" class="uxdxform-input form-check-input" type="checkbox" required/>
          <label id="uxdxform_label_{{name}}_gdpr" for="uxdxform_input_{{name}}_gdpr" class="form-check-label">
            I agree to receive emails from UXDX, including upcoming promotions and discounted tickets, news about our conferences, and access to exclusive invite-only events.
          </label>
        </div>  
      </div>

      <input type="text" id="uxdxform_input_{{name}}_email_address_check" name="email_address_check" value="" style="display:none;">
      <input type="hidden" id="uxdxform_input_{{name}}_locale" name="locale" value="en">
      <input type="hidden" id="uxdxform_input_{{name}}_html_type" name="html_type" value="simple">


      <div id="uxdxform_{{name}}_submit" class="form-group">
        <button type="submit" name="uxdxform[submit]" id="uxdxform_input_{{name}}_submit"
          name="uxdxform[submit]" value="" class="uxdxform-button btn btn-primary btn-lg" value="1"
          onClick="gtag('event', 'click', { event_category: 'engagement', event_action: 'click', event_label: '{{button_text}}'});">{{button_text}}</button>
      </div>
    </div>
  </form>
</div>



<script type="text/javascript">

$(document).ready(function() {
  // Submit form with id function.
  $('#form_{{name}}').on('submit', function(e){

    if ($('#form_{{name}}')[0].checkValidity()) {
      e.preventDefault();
      var $theForm = $(this);
      // change the submit button
      $('#uxdxform_input_{{name}}_submit').val('Sending...');
      $('#uxdxform_input_{{name}}_submit').attr('disabled', 'disabled');
      
      var data = {
        "FIRSTNAME": $('#uxdxform_input_{{name}}_first_name').val(), 
        "EMAIL": $('#uxdxform_input_{{name}}_email').val(),
        "SOURCE": '{{name}}',
        "SUBSCRIBE__PAGE": '{{page.url}}',
        "GDPR": 1,
        "email_address_check": $('#uxdxform_input_{{name}}_email_address_check').val(), 
        "locale": $('#uxdxform_input_{{name}}_locale').val(), 
        "html_type": $('#uxdxform_input_{{name}}_html_type').val()
      }
      let stringData = encodeURIComponent(JSON.stringify(data).replace("{", "").replace("}", "")).replace(/%22/g, "").replace(/%3A/g, "=").replace(/%2C/g, "&")
      $.ajax({
        type: $theForm.attr('method'),
        url: $theForm.attr('action'),
        data: stringData,
        success: function( data, textStatus, jQxhr ){
          // Replace the form with a success message
          $('#uxdxform_{{name}}_error').hide()
          $('uxdxform_{{name}}_message').fadeIn();
          $('#form_{{name}} .form-content').hide()
        },
        error: function( jqXhr, textStatus, errorThrown ){
          $('#uxdxform_input_{{name}}_submit').val('{{button_text}}');
          $('#uxdxform_input_{{name}}_submit').removeAttr('disabled');
          $('#uxdxform_{{name}}_error').fadeIn()
          // $('#form_{{name}} .form-content').hide()
        }
      })
    } else {
      $('#form_{{name}}')[0].reportValidity()
    }
  })
})

</script>
